<?php 
$this->assign('title', '利用できません'); 
$this->Html->addCrumb('利用できません');
?>
    <div class="section">
        <div class="inner">
            <div class="company_message">
            問題が発生しました。<br>
            <div class="center tyuui mb20 mt10"><?php echo $this->Flash->render(); ?></div>
            
            </div>
        </div><!--/inner-->
    </div><!--/company-->
