<?php 
$this->assign('title', 'パスワード再発行'); 
$this->Html->addCrumb('パスワード再発行');
?>
    <div class="section">
        <div class="inner">
            <div class="company_message">
            
            指定されたメールアドレスにメールをお送りしました。<br><br>
            <a href="/"><u>トップに戻る</u></a>
            <span class="center">
            </span>
            </div>
            
        </div><!--/inner-->
    </div><!--/company-->
