/* =========================================================

contents

=========================================================== */



.inner {margin: 0 auto;}
.inner:after {content: "";clear: both;display: block;}


#main {text-align:left;padding:80px 40px;min-height: 100%;}
#main h1 {border-left:solid 4px #77BBB1;padding:5px 0 5px 15px;margin:0 0 30px;font-size:22px;}
#main h2 {font-size:18px;margin:0 0 15px;clear:both;}


#flow {width:930px;margin:0 auto 30px;overflow:hidden;}
#flow li {float:left;width:160px;background:url(../images/admin/flow_arrow.svg) no-repeat right center;background-size:40px auto;}
#flow li:last-child {width:130px;background:none;}
#flow li div {width:121px;display:block;border:solid 1px #2e323d;padding:0.8em 0.3em;text-align:center;line-height:1.2em;background: #FFF;}
#flow li:nth-child(3) div,#flow li:nth-child(5) div {background:#2e323d;color:#FFF;}


#globalmenu div {border:solid 1px #2e323d;padding:1.2em 0.8em;text-align:center;line-height:1.2em;overflow:hidden;}
#globalmenu div.globalmenu1 {background:url(../images/admin/gmenu_icon1.png) no-repeat 15px 20px #FFF;background-size:50px auto;}
#globalmenu div.globalmenu2 {background:url(../images/admin/gmenu_icon2.png) no-repeat 15px 20px #FFF;background-size:50px auto;}
#globalmenu div.globalmenu3 {background:url(../images/admin/gmenu_icon3.png) no-repeat 15px 20px #FFF;background-size:50px auto;}
#globalmenu div.globalmenu5 {background:url(../images/admin/gmenu_icon5.png) no-repeat 15px 20px #FFF;background-size:50px auto;}
#globalmenu div.globalmenu4 {background:url(../images/admin/gmenu_icon4.png) no-repeat 15px 20px #FFF;background-size:50px auto;}
#globalmenu div.globalmenu6 {background:url(../images/admin/gmenu_icon6.png) no-repeat 15px 20px #FFF;background-size:50px auto;}
#globalmenu div a {float:right;width:70%;background:#2e323d;border-bottom:solid 4px #777a81;color:#FFF;padding:1.2em 0.5em;text-align:center;margin-bottom:15px;font-size:140%;}
#globalmenu div a:hover {background:#777a81;}
#globalmenu div p {clear:both;display:block;width:100%;margin-top:15px;}
#globalmenu div p span {display:inline-block;margin:0 10px;}


#submenu div a {display:block;border:solid 1px #C1DDD7;background:#95C8BF;border-bottom:solid 4px #C1DDD7;padding:0.6em 0.5em;text-align:center;color:#FFF;}
#submenu div a:hover {background:#B2D5CF;}


#message {width:500px;margin:0 auto 30px;font-size:150%;padding:10px 0;}
#message span {display:inline-block;margin:0 15px;}
#message.globalmenu1 {background:url(../images/admin/gmenu_icon1.png) no-repeat left center;background-size:70px;text-align:center;font-size:150%;padding:10px 0;}
#message.globalmenu2 {background:url(../images/admin/gmenu_icon2.png) no-repeat left center;background-size:70px;text-align:center;font-size:150%;padding:10px 0;}
#message.globalmenu3 {background:url(../images/admin/gmenu_icon3.png) no-repeat left center;background-size:57px;text-align:center;font-size:150%;padding:10px 0;}
#message.globalmenu4 {background:url(../images/admin/gmenu_icon4.png) no-repeat left center;background-size:70px;text-align:center;font-size:150%;padding:10px 0;}
#message.globalmenu5 {background:url(../images/admin/gmenu_icon5.png) no-repeat left center;background-size:70px;text-align:center;font-size:150%;padding:10px 0;}
#message.globalmenu6 {background:url(../images/admin/gmenu_icon6.png) no-repeat left center;background-size:70px;text-align:center;font-size:150%;padding:10px 0;}
.backpage {clear:both;float:right;}


.box {overflow:hidden;padding:20px;margin:0 0 30px;background:#FFF;}
.box.border {border:solid 1px #CCC;}
.box .table {margin:0 !important;}
.box table {font-size:90% !important;}
.box table th ,.box table td {padding:0.4em;border:none;}
.box table th {background: none;color:#444;width:35%;}
.box table td span {display:block;font-size:85%;}
.box textarea {font-size:90%;}


.selectbox {margin:0 20px 30px 0 !important;}
#to_peigent {margin:0 0 30px;text-align:center;}
#to_peigent a {border:solid 2px #2e323d;border-radius:20px !important;padding:10px 80px;}
#to_peigent a:hover {background:#2e323d;color:#FFF;}


#customerinfo {margin:0 0 30px;}
#customerinfo table {border: 1px solid #ccc;text-align:center !important;background:#FFF;}
#customerinfo table td, #customerinfo table th {border:none;}
#customerinfo table th {background:#efefef;color:#444;}


#claimList table th {background:#ccc;color:#444;}
#claimList table td {padding:0.6em;text-align:center !important;font-size:95%;}
#claimList table td.pay_day {background:#ddd;}
#claimList table td.pay_day input[type='text'] {width:60px !important;}
#claimList table td.subtotal {background:#f6f6f6;}
#claimList table td.tax {background:#f6f6f6;}
#claimList table td.total {background:#e9e9e9;}
.table table tr:hover {background:none;}

#serviceDetail table {}
#serviceDetail table th {vertical-align:top !important;}
#serviceDetail table td ul li {word-wrap:break-word !important;word-break:break-all !important;white-space:normal !important;}
#serviceDetail table td ul li span {display:inline-block;margin:0 5px;font-size:100%;}
#serviceDetail table td {word-wrap:break-word !important;word-break:break-all !important;white-space:normal !important;}


#account_kensaku {background:#ddd;}
#account_kensaku table {margin:10px 0;width:100%;border:solid 1px #CCC;}
#account_kensaku table td, #account_kensaku table th {border:none;}
#account_kensaku table th {background:none;color:#444;width:170px;vertical-align:top;font-size:120%;}
#account_kensaku table td.accout_conditions {width:650px;}
#account_kensaku table td.accout_conditions ul li p {display:inline-block;width:120px;}
#account_kensaku table td.accout_search {width:160px;text-align:right !important;vertical-align: bottom !important;}

#account_sortMenu {overflow:hidden;margin:0 auto 30px;width:100%;}
#account_sortMenu li {float:left;border-right:solid 1px #CCC;padding:0 8px;}
#account_sortMenu li:last-child {border-right:none;}
#account_sortMenu li a:hover {color:#CCC;text-decoration:underline;}

#account_list table td {font-size:90%;text-align:center !important;}
#account_list table tr:hover {background: #efefef;}

.dataCreation {margin:0 0 10px;overflow:hidden;}
.dataCreation li {margin:0 0 3px 0;}
.dataCreation li input {margin:0 8px 0 0;}
.dataCreation li span {font-size:80%;color: #ff0049;line-height:1.2em;}


#new_post {width:500px;margin:0 auto;}
#new_post dl {margin:0 0 30px;}
#new_post dl dt input[type='text'] {width:100% !important;margin:0 0 20px;}
#new_post dl dd textarea {width:100% !important;min-height:10em;}
#new_post ul li input[type='text'] {width:80px !important;margin:0 0 20px;}


#infobox {overflow:hidden;width:100%;height:40vh;padding:40px;border:solid 1px #CCC;background:#FFF;text-align:left !important;overflow-y: scroll;margin:40px 0;}
#infobox dl {border-bottom:solid 1px #CCC;margin:0 0 10px; padding:0 0 10px;overflow: hidden;}
#infobox dl dt {font-weight:500;font-size:110%;float:left;width:140px;}
#infobox dl dt span {display:block;color:#0058aa;font-size:80%;}

#infobox dl dd {font-size:85%;padding:0 0 0 150px;}

#infobox::-webkit-scrollbar {width: 10px;}
#infobox::-webkit-scrollbar-track {border-radius: 10px;box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);}
#infobox::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 50, .5);border-radius: 10px;box-shadow:0 0 0 1px rgba(255, 255, 255, .3);}

#postDetail {width:100%;margin:0 auto 40px;border:solid 1px #CCC;padding:60px 140px;}
#postDetail .postheader {overflow:hidden;margin:0 0 40px;}
#postDetail .postheader p.data {float:left;display:inline-block;}
#postDetail .postheader p.send_cate {float:right;display:inline-block;color:#0058aa;}

#login {text-align:center; margin:70px auto 0;}


#print #p_tbl1 {width:50%;margin:0 20px 30px;}
#print #p_tbl1 th, #print #p_tbl1 td {background:none !important;border:none;border-bottom:solid 1px #CCC;color:#444;}
#print #p_tbl1 th {width:15%;}

#print .row {padding:0;margin:0;}

#print #p_tbl2 th, #print #p_tbl2 td {border:solid 1px #CCC;color:#444;}
#print #p_tbl2 th {background:#eee !important;}

.flash .message {text-align:center;background:#efefef;padding:3px 0;margin:0 0 30px;}

#mainlist {overflow:hidden;}
#mainlist dl {margin:0 0 30px;border:solid 1px #CCC;background:#FFF;padding:30px;}
#mainlist dl dt {margin:0 0 20px;padding:0 0 10px;border-bottom:solid 1px #CCC;line-height:1.2em;}



@page { size: 210mm 297mm;margin: 12.7mm 12.7mm;}
@media print{

body {background:none !important;}
#main {padding:0 !important;border:none !important;}
#main h2 {font-size:16px;margin:0 !important;clear:both;}
#header {display:none;}
#footer {display:none;}
.button {display:none;}

#print #p_tbl1 {width:50%;margin:0 0 20px;}
#customerinfo {margin:0;}
.table {margin:0 0 20px;}
.table table td, .table table th {padding:0.4em 0.8em;line-height:1.2em;font-size:12px !important;}
.table table th {width:150px !important;}
.table table td img {width:250px !important;vertical-align:top !important; }
.cont1of2 {width:calc(100% - 0px);margin:0;}

}

@media print {
  @page {
    size: 850px 1300px;
    margin:0;
  }
.cont1of2 {width:340px;float:left;margin:10px;}
  * {
    -webkit-print-color-adjust: exact;
  }

  body {
    margin: 0;
    padding:50px 20px 5px 50px;
    
  }


}