

/* =========================================================

reset style

=========================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
display: block;
}
body {
line-height: 1;
}
ul {
list-style: none;
padding: 0;
margin: 0;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
table, caption, tr, th, td,tbody, tfoot, thead {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
word-break: break-all !important;
}

/* =========================================================

style

=========================================================== */


*, *::after, *::before {box-sizing: border-box;}
html {font-size: 62.5%;}
html, body {height: 100%;}

body {font-size: 15px;font-size: 1.5rem;
font-family:Helvetica,Arial,'Noto Sans Japanese','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',Osaka,'ＭＳ Ｐゴシック', 'MS PGothic',sans-serif;color:#444;line-height:1.7em;font-weight:300;background:#F2F8F7;}

div::-webkit-scrollbar { width: 10px; height: auto; }
div::-webkit-scrollbar-track { background: #ccc; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); }
div::-webkit-scrollbar-thumb { background:#ddd; }

a {color: #444;text-decoration: none;transition:all 0.25s;cursor: pointer;border-radius:3px;}


div {border-radius:3px;}

img {max-width:100%;}
input {font-size: 15px;font-size: 1.5rem;}

input[type="search"]::-ms-clear {display: none;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display: none;}



input[type='text'],
input[type='number'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='submit'],
input[type='button'],
input[type='password'],
button,
textarea,
select {
-webkit-appearance: none;box-sizing: border-box;font-size: 15px;vertical-align:middle;height: 2em;border:solid 1px #CCC;border-radius:3px; background: #fff;padding:3px;}

input[type='tel'] {width:130px;}
input[type='number'] {width:60px;}

input[type='reset'],
input[type='button'],
button { height:2em;background:#2e323d !important;border: none;border-radius:3px;color:#fff;cursor:pointer;padding:2px 15px;}

input[type='submit']{ height:2em;background:#2e323d ;border: none;border-radius:3px;color:#fff;cursor:pointer;padding:2px 15px;}
button:hover {background:#50535c !important;}

textarea {width:98%;height:6em;min-height: 2em;resize: vertical;}
select {background: url(../images/admin/select_arrow.png) right 50% no-repeat #FFF;background-size: 12px auto;padding: 2px 20px 2px 5px;}

.pc_only {display:block;}
.sp_only {display:none;}

.clear {clear:both;}

hr {border-top: 1px solid #bbb;border-bottom: 1px solid #fff;}



/* =========================================================

Header

=========================================================== */

#header {width:100%;height:50px;float:left;padding:12px 0 0 45px;overflow:hidden;border-bottom:solid 1px #CCC;background:url(../images/admin/logo.png) no-repeat 10px 50% #77BBB1;background-size: 35px auto;vertical-align:middle;border-radius:0;}
#header h1#logo {float:left;width:300px;font-size:18px;margin-left:15px;color:#FFF !important;}
#header h1#logo span {font-size:75%;margin:0 10px 0 0;}
#header h1#logo a {color:#FFF;}
#header #logout {float:right;width:120px;height:30px;line-height:30px;margin-right:15px;text-align:right !important;}



/* =========================================================

navi

=========================================================== */

#navi {float:left;width:180px;min-height:668px;height: 100%;text-align:center;border-radius:0 !important;}
#navi #main_nav{margin:0 0 15px;text-align:left;}
#navi #main_nav li {border-bottom:solid 1px #C1DDD7;}
#navi #main_nav li a {padding:8px 8px 8px 35px;display:block;color:#2E323D;}
#navi #main_nav li:first-child a {background:url(../images/admin/gmenu_icon1.png) no-repeat 5px 50%;background-size:22px auto;}
#navi #main_nav li:nth-child(2) a {background:url(../images/admin/gmenu_icon2.png) no-repeat 5px 50%;background-size:22px auto;}
#navi #main_nav li:nth-child(3) a {background:url(../images/admin/gmenu_icon3.png) no-repeat 5px 50%;background-size:22px auto;}
#navi #main_nav li:nth-child(4) a {background:url(../images/admin/gmenu_icon4.png) no-repeat 5px 50%;background-size:22px auto;}
#navi #main_nav li:nth-child(5) a {background:url(../images/admin/gmenu_icon5.png) no-repeat 5px 50%;background-size:22px auto;}
#navi #main_nav li:last-child a {background:url(../images/admin/gmenu_icon6.png) no-repeat 5px 50%;background-size:22px auto;}
#navi #main_nav li:first-child a:hover {background:url(../images/admin/gmenu_icon1.png) no-repeat 5px 50% #D5E8E4;background-size:22px auto;}
#navi #main_nav li:nth-child(2) a:hover {background:url(../images/admin/gmenu_icon2.png) no-repeat 5px 50% #D5E8E4;background-size:22px auto;}
#navi #main_nav li:nth-child(3) a:hover {background:url(../images/admin/gmenu_icon3.png) no-repeat 5px 50% #D5E8E4;background-size:22px auto;}
#navi #main_nav li:nth-child(4) a:hover {background:url(../images/admin/gmenu_icon4.png) no-repeat 5px 50% #D5E8E4;background-size:22px auto;}
#navi #main_nav li:nth-child(5) a:hover {background:url(../images/admin/gmenu_icon5.png) no-repeat 5px 50% #D5E8E4;background-size:22px auto;}
#navi #main_nav li:last-child a:hover {background:url(../images/admin/gmenu_icon6.png) no-repeat 5px 50% #D5E8E4;background-size:22px auto;}




#navi #sub_nav {margin:0 auto 20px;width:96%;border:solid 1px #C1DDD7;text-align:left;}
#navi #sub_nav li a {border-bottom:solid 1px #C1DDD7;padding:10px 10px 10px 8px;display:block;font-size:13px;line-height:1.2em;background:url(../images/contentMenu_arrow.png) no-repeat 95% 50% #FFF;background-size:5px auto;}
#navi #sub_nav li a:hover {background:url(../images/contentMenu_arrow.png) no-repeat 95% 50% #EAF3F2;background-size:5px auto;}
#navi #sub_nav li:last-child a  {border-bottom:none;}


/* =========================================================

Footer

=========================================================== */

#footer {width:100%;background:#B2D5CF;padding:10px 0;text-align:center;font-size:12px;border-radius:0;}






/* =========================================================

table

=========================================================== */

.table {margin:0 0 30px;}
.table table {width: 100%;border-collapse: collapse;border-spacing: 0;}

.table.scroll table {margin:0 0 30px;}
.scroll{overflow: auto;white-space: nowrap;　　/*tableのセル内にある文字の折り返しを禁止*/}
.scroll::-webkit-scrollbar{height: 5px;}
.scroll::-webkit-scrollbar-track{background: #F1F1F1;}
.scroll::-webkit-scrollbar-thumb {background: #BCBCBC;}

.table table td, .table table th {white-space:normal;padding:0.6em 1.2em;border: 1px solid #4d515a;vertical-align: top;word-wrap: break-word !important;word-break:break-all;}
.table table td {background:#FFF;}
.table table th {background: #2e323d;white-space: nowrap;vertical-align: middle;color:#FFF;}
.table table p {margin:0 0 8px !important;}
.table table thead th {text-align:center !important;}
.table table .txtcenter {text-align:center !important;}
.table table tr:hover {background: #efefef;}



p.center{text-align:center;}
.fb {font-weight:600 !important;}
.tyuui {font-weight:500;color:#F00;}

.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}

.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}




/* =========================================================



=========================================================== */

/* 繝懊ャ繧ｯ繧ｹ縲width */

.box {border:solid 1px #CCC;padding:30px;margin:0 auto 20px;overflow:hidden;}

.w300 {width:300px !important;margin:0 auto;}
.w400 {width:400px !important;margin:0 auto;}
.w500 {width:500px !important;margin:0 auto;}
.w600 {width:600px !important;margin:0 auto;}
.w900 {width:900px !important;margin:0 auto;}

/* 繝懊ち繝ｳ */

.button {cursor: pointer; white-space: nowrap;padding:6px 12px;font-size:13px;border-radius:4px;color:#FFF;line-height:1.8em;word-wrap: normal !important;}
.button:hover {color:#FFF;}
.button.blue {background:#0058aa;}
.button.blue:hover {background:#44aed8;}
.button.gray {background:#999;}
.button.gray:hover {background:#666;}
.button.darkblue {background:#2e323d;}
.button.darkblue:hover {background:#50535c;}
.button.red {background:#e50012;}
.button.red:hover {background:#ff3939;}
.button.green {background: #419800;}
.button.green:hover {background: #20d000;}
.button.white {border:solid 1px #FFF;}
.button.white:hover {background:rgba(255,255,255,0.3);color:#2e323d !important;}


.add_telnum {margin:0 0 20px;}
.registration {text-align:center;clear:both;}
.cont_right {float:right;display:inline-block;}


.row {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5px 0px;
}

.cont1of2 {width:calc(50% - 40px);margin:20px;}
.cont1of3 {width:calc(33.333% - 40px);margin:20px;}



/* pager */

.pagenate {margin:20px 0;overflow:hidden;font-size:16px;text-align:center;}
.pagenate span {display:inline-block;margin:0 2px 0 0;padding:1px 10px;}
.pagenate a {display:inline-block;margin:0 2px 0 0;text-decoration:underline;color:#008ba6;}
.pagenate a:hover {color:#CCC;}
.pagenate .disabled {text-decoration:none;background:none;border:none;font-size:13px;}
.pagenate .next a {text-decoration:none;background:none;border:none;font-size:13px;}

#pager {margin: 20px auto;text-align: center;}

.text-white a{
	color: #fff;
}


#flashMessage{
  color:red;

}
.error-message{
  color: red;
}
pager