<?php 
$this->assign('title', '送信メール文面一覧');
?>
<div id="main">
<div class="section inner">
<h1>送信メール文面一覧</h1>

<div id="mainlist">

<div class="row">
	
	
<div class="cont1of2">
<h2>申込み（１）初期登録</h2>
<dl>
<dt>件名：【みんなにでんわ転送】次のステップへお進みください</dt>
<dd>
<p class="mb20">＜店舗名または屋号＞ ＜ご担当者名＞ 様</p>
<p class="mb10">みんなにでんわ転送のアカウント作成をありがとうございました。</p>
<p class="mb10">以下のURLをクリックして詳細入力にお進みください。</p>
<p class="mb10">https://minderu.com/mypage/users/edit/</p>
<p class="mb10">
ログインID : ＜ログインID＞<br />
パスワード : [ご指定のパスワード]<br />
<br />
-----<br />
＜店舗名または屋号＞ ＜ご担当者名＞ 様が<br />
<br />
https://minderu.com/mypage/users/add/で<br />
入力したメールアドレス：＜メールアドレス＞宛にメールをお送りしています。
</p>
<p class="mb10">
※パスワードを忘れた方はこちらから再発行のお手続きをお願いします。<br />
https://minderu.com/mypage/forgot_password/ 
</p>
 <p class="mb10">
※このメールは配信専用です。<br />
※URLをクリックしてもページが表示されない場合は<br />
ご利用のブラウザの「アドレス」欄にURLを貼り付けてアクセスしてください。</p>
</dd>

</dl>
<h2>申込み（２－１）審査完了</h2>
<dl>
<dt>件名：【みんなにでんわ転送】転送内容の設定にお進みください</dt>
<dd>
<p class="mb20">＜店舗名または屋号＞ ＜ご担当者名＞　様 </p>
<p class="mb10">確認書類の提出をありがとうございました。<br />
以下のURLからログインして、転送の設定と初月基本料のお支払いにお進みください。
</p>
<p class="mb10">
https://minderu.com/mypage/users/login</p>
<p class="mb10">
ログインID : ＜ログインID＞ <br />
パスワード : [ご指定のパスワード]
</p>
<p class="mb10">
決済から3営業日以内にサービス開始のご連絡をいたします。<br/>
※転送先や転送時間は、電話番号発行後マイページからいつでも変更できますので、初期値のまま登録を進めることもできます。<br /></p>
<p class="mb10">
-----------------------------------------------------<br />
※パスワードを忘れた方はこちらから再発行のお手続きをお願いします。<br />
 ＜URL＞ <br />
-----------------------------------------------------
<br />

<br />
登録内容は以下の通りです。</p>
<p class="mb20">
===============================<br />
<br />
店舗名または屋号：<br />
会社名（契約者名）：<br />
カイシャメイ：<br />
ご担当者名：<br />
ゴタントウシャメイ：<br />
メールアドレス：<br />
ログインID：<br />
パスワード：　[ご指定のパスワード]<br />
郵便番号：<br />
住所1：<br />
住所2：<br />
ご連絡先電話番号：<br />
<br />
===============================<br />

<br />
ご不明な点、お気づきの点などがありましたら、当サポートまで<br />
お気軽にお問い合わせください。</p>
</dd>
</dl>
<h2>申込み（２－２）再審査</h2>
<dl>
<dt>【みんなにでんわ転送】確認書類の再提出のお願い</dt>
<dd>
<p class="mb20">＜店舗名または屋号＞ ＜ご担当者名＞　様 </p>
<p class="mb20">みんなにでんわ転送のサービス申込みをありがとうございます。<br />
いただいた書類に以下の不備がありました。</p>
<p class="mb20">
【不備理由】</p>

<p class="mb20">/////////////ここまで共通&nbsp;以下、理由ごとに差し込み////////////////////////</p>

<p class="mb20">
・画像不明瞭<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;いただいた証明書類の画像では確認できませんでした。<br />
&nbsp;&nbsp;&nbsp;&nbsp;再度画像をアップロードしてください。<br />
<br />		
&nbsp;&nbsp;&nbsp;&nbsp;確認書類については、<br />
&nbsp;&nbsp;&nbsp;&nbsp;http://minderu.com/confirmation/<br />
&nbsp;&nbsp;&nbsp;&nbsp;をご確認ください。</p>
<p class="mb20">
<p class="mb20">///////////////////////////////////////////////////////////////////////////////</p>
・氏名不一致<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;いただいた証明書類とお申込者の名前が一致していませんでした。<br />
&nbsp;&nbsp;&nbsp;&nbsp;お申込み者のお名前の証明書類の画像を再度アップロードしてください。。<br />
<br />		
&nbsp;&nbsp;&nbsp;&nbsp;確認書類については、<br />
&nbsp;&nbsp;&nbsp;&nbsp;http://minderu.com/confirmation/<br />
&nbsp;&nbsp;&nbsp;&nbsp;をご確認ください。</p>
<p class="mb20">
<p class="mb20">///////////////////////////////////////////////////////////////////////////////</p>
・補助書類必要<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;いただいた証明書類の住所が登録のご住所と異なっています。<br />
&nbsp;&nbsp;&nbsp;&nbsp;現在の住所がわかる補助書類の画像を再度アップロードしてください。。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;補助書類については<br />
&nbsp;&nbsp;&nbsp;&nbsp;http://minderu.com/confirmation/#auxiliary<br />
&nbsp;&nbsp;&nbsp;&nbsp;をご確認ください</p><br />
<p class="mb20">///////////////////////////////////////////////////////////////////////////////</p>
<p class="mb20">
・有効期限切れ<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;いただいた証明書類の有効期限が切れています<br />
&nbsp;&nbsp;&nbsp;&nbsp;有効期限内の書類の画像を再度アップロードしてください。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;確認書類については<br />
&nbsp;&nbsp;&nbsp;&nbsp;http://minderu.com/confirmation/<br />
&nbsp;&nbsp;&nbsp;&nbsp;をご確認ください。</p>
<p class="mb20">///////////////////////////////////////////////////////////////////////////////</p>
<p class="mb20">
・その他<br />
&nbsp;&nbsp;&nbsp;&nbsp;（入力欄に入力した内容が入ります）</p>

<p class="mb20">///////////////////////&nbsp;ここから共通項目&nbsp;////////////////////////////</p>
<p class="mb10">
以下のURLをクリックして再登録をお願いします。<br />
<br />
https://minderu.com/mypage/users/login
<br />
ログインID : ＜ログインID＞<br />
パスワード : [ご指定のパスワード]
<br />
<br />
再登録がうまく行かない場合は、このメールの返信に画像を添付して送っていただいても結構です。

</p>
</dd>
</dl>


<h2>申込み（２－３）審査却下</h2>
<dl>
<dt>件名：【みんなにでんわ転送】審査結果のお知らせ</dt>
<dd>
<p class="mb20">＜店舗名または屋号＞ ＜ご担当者名＞ 様</p>
<p class="mb10">この度は、みんなにでんわ転送にお申込みをいただきありがとうございました。</p>
<p class="mb10">今回お申込み頂いた内容を検討しました結果、<br />
サービスのお引き受けを不可とさせていただきます。</p>
<p class="mb10">審査内容の詳細につきましてのお問合せには対応できませんのでご了承ください。<br />
何卒ご了承下さいますようお願い申し上げます。</p>
</dd>
</dl>

<h2>パスワード変更</h2>
<dl>
<dt>件名：【みんなにでんわ転送】】パスワード変更手順のお知らせ</dt>
<dd>
<p class="mb20">＜店舗名または屋号＞ ＜ご担当者名＞　様 </p>
<p class="mb10">パスワードをリセットするには、<br />
以下の「パスワード変更フォーム」のURLをクリックしてください。</p>
<p class="mb20">
＜URL＞</p>
<p class="mb10">
※URLをクリックしてもページが表示されない場合は<br />
ご利用のブラウザの「アドレス」欄にURLを貼り付けてアクセスしてください。</p>
</dd>
</dl>

</div><!--/cont1of2-->

<div class="cont1of2">


<h2>申込み（３―１）サービス開始</h2>
<dl>
<dt>件名：【みんなにでんわ転送】サービス開始のお知らせ</dt>
<dd><p class="mb20">＜店舗名または屋号＞ ＜ご担当者名＞　様</p>
<p class="mb10">みんなにでんわ転送のサービスが開始されました。<br />
お客様の発行電話番号は　＜発行電話番号＞　です。</p>
<p class="mb10">本メールは当サービスをご利用いただくにあたり<br />
非常に重要なお知らせでございます。</p>
<p class="mb20">お取り扱いには十分にご注意の上、<br />
プリントアウトをするなどして、大切に保管してくださいますようお願い申し上げます。</p>

<p class="mb20">
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
　登録情報<br />
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
お客様NO：<br />
店舗名または屋号：<br />
会社名（契約者名）：<br />
カイシャメイ：<br />
ご担当者名：<br />
ゴタントウシャメイ：<br />
メールアドレス：<br />
ログインID：<br />
パスワード： [ご指定のパスワード]<br />
郵便番号：<br />
住所1：<br />
住所2：<br />
ご連絡先電話番号：<br />
</p>
<p class="mb20">
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
　サービス内容<br />
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
【発行電話番号】<br />
【 転送先 】<br />
【 転送スケジュール 】<br />
【 時間外応答メッセージ 】<br />
【 確認事項 】<br />
契約約款/免責事項<br />
個人情報保護方針<br />
に同意しました。<br />
</p>
<p class="mb20">
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
 マイページのご案内<br />
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
マイページでは、着信履歴の確認や、登録情報の変更などが行えます。<br />
以下のURLからアクセスしてください<br />
<br />
https://minderu.com/mypage/users/login　<br />
ログインID : ＜ログインID＞<br />
パスワード : [ご指定のパスワード]<br />
</p>
</dl>
<h2>申込み（３―２）ご利用ガイド</h2>
<dl>
<dt>件名：【みんなにでんわ転送】サービスご利用ガイド</dt>
<p class="mb20">
<dd><p class="mb20">＜店舗名または屋号＞ ＜ご担当者名＞　様</p>
みんなにでんわ転送の使い方をご説明します。<br />
<br />
ユーザーサポート<br />
https://minderu.com/usersupport/<br />
もご覧ください。<br />
<br />
＜ステップ１＞<br />
お客様の発行電話番号　＜発行電話番号＞　を<br />
転送先電話の電話帳に新規登録します。<br />
登録名にお店の屋号を入れるとわかりやすいです。<br />
<br />
＜ステップ２＞<br />
発行番号　＜発行電話番号＞　に登録していない電話で電話をかけてみます。<br />
ステップ1で電話帳に登録した番号から着信することを確認してください。<br />
<br />
＜ステップ３＞<br />
今あるお店の番号から転送をかける場合は、ボイスワープ等の設定で<br />
＜発行電話番号＞　に転送を設定してください。<br />
<br />
※NTTボイスワープ<br />
https://www.ntt-west.co.jp/denwa/service/voicewp/gaiyou.html <br />
※KDDI auひかりの転送設定<br />
https://www.au.com/internet/auhikari/ <br />
※Softbankおとくラインの転送設定<br />
http://tm.softbank.jp/consumer/otoku/<br />
<br />
＜ステップ４＞<br />
マイページをスマホでのホーム画面に表示させます。<br />
<br />
・iphone/Safari→「アクション」「ホーム画面に追加」をタップ<br />
http://minderu.com/wp-content/themes/minderu_theme/images/setting_iphone.pdf<br />
<br />
・アンドロイド携帯/Chrome →右上「メニュー」「ホーム画面に追加」をタップ<br />
http://minderu.com/wp-content/themes/minderu_theme/images/setting_Android.pdf<br />
<br />
＜ステップ５＞<br />
ホームページや名刺の電話番号に、＜発行電話番号＞　を追加してください。<br />
集客向けの電話番号は、　＜発行電話番号＞　のみを、会社概要や名刺などは<br />
既存の番号と併記すると便利です。<br />
</p>
<p class="mb20">
-----------------------------------------------------<br />
　電話がかかってきたら<br />
-----------------------------------------------------<br />
お客様から電話がかかってくると、登録した電話機全てに着信します。<br />
ナンバーディスプレイには、発行された　＜発行電話番号＞　からの着信と表示されます。<br />
<br />
1台の電話で通話が確立すると他の電話の呼び出しは終了します。<br />
相手先の電話番号を確認したいときは、マイページの「着信履歴」でご確認ください。<br />
<br />
話し中でも、他に電話がかかってくると空いている他の電話機が呼び出されます。
</p>
<p class="mb20">
-----------------------------------------------------<br />
　電話のかけ方<br />
-----------------------------------------------------<br />
登録された電話機から、発行された　＜発行電話番号＞　へ電話をかけます。<br />
音声ガイダンスが流れますので、それに従って発信したい電話番号を押してください。<br />
<br />
１）＜発行電話番号＞　へ発信します。<br />
２）相手先電話番号を入力して＃を押してください。<br />
３）相手の電話機に　＜発行電話番号＞　が表示されて呼び出されます。<br />
４）相手が電話に出たら通話が確立します。<br />
</p>
<p class="mb20">
-----------------------------------------------------<br />
 スタッフ用アカウントの作成<br />
-----------------------------------------------------<br />
スタッフ用のアカウントを作成することができます。<br />
スタッフアカウントでは着信履歴のみ閲覧することができます。<br />
管理者の方が以下の方法でスタッフアカウントを追加してください。
<br />
1）スタッフアカウント追加ページ<br />
https://minderu.com/mypage/staffs<br />
にアクセスし、管理者ID・パスワードでログインしてください。<br />
<br />
2.「追加」を押します。<br />
3.表示名・ログインID・パスワードにそれぞれ任意の値を入力します。<br />
4.「追加」を押します。<br />
<br />
既に設定してある転送先をスタッフとして一括登録することも可能です。<br />
<br />
作成したアカウントは<br />
https://minderu.com/staff/staffs/login<br />
からログインできます。<br />
管理者以外の方へはこちらのアドレスとID・パスワードをお知らせください。<br />
<p class="mb20">
-----------------------------------------------------<br />
<br />
よくある質問「使用方法について」もご覧ください<br />
https://minderu.com/faq/#hou-to<br />
<br />
ご不明な点、お気づきの点などがありましたら、当サポートまで<br />
お気軽にお問い合わせください。</p>
</dd>
</dl>


<h2>解約</h2>
<dl>
<dt>件名：【みんなにでんわ転送】解約を承りました</dt>
<dd><p class="mb20">＜店舗名または屋号＞ ＜ご担当者名＞　様</p>
<p class="mb10">みんなにでんわ転送のサービス解約を承りました。</p>
<p class="mb10">当サービスをご利用いただきありがとうございました。</p>
</dd>
</dl>

<h2>決済が出来ない時</h2>
<dl>
<dt>件名：【みんなにでんわ転送】※重要なお知らせ※決済ができませんでした。</dt>
<dd><p class="mb20">＜店舗名または屋号＞ ＜ご担当者名＞　様</p>
<p class="mb10">みんなにでんわ転送をご利用いただき、誠にありがとうございます<br />
以下の請求内容について、正常に決済が行われませんでした。</p>
<p class="mb10">
ご利用期間<br />
請求NO.：<br />
請求日： <br />
支払期限：<br />
月額基本料：<br />
通信料： <br />
小計：<br />
税額：<br />
合計：
</p>
<p class="mb10">以下のURLより、上記のお支払い期限までに新しいカードを登録して決済を行ってください。<br />
期限を過ぎるとサービスを一旦停止させていただきますのでご注意ください。</p>
<p class="mb10">＜URL＞</p>
</dd>
</dl>





</div><!--/cont1of2-->




</div><!--/row-->
</div><!--/mainlist-->

<div class="backpage"><?php print($this->Html->link('戻 る', '../pages/home' ,array('class'=>'button darkblue'))); ?></div>

</div><!--/inner-->
</div><!--/main-->