

/* =========================================================

reset style

=========================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
display: block;
}
body {
line-height: 1;
}
ul {
list-style: none;
padding: 0;
margin: 0;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
table, caption, tr, th, td,tbody, tfoot, thead {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
}

/* =========================================================

style

=========================================================== */


*, *::after, *::before {box-sizing: border-box;}
html {font-size: 62.5%;}
html, body {height: 100%;}

body {font-size: 15px;font-size: 1.5rem;
font-family:Helvetica,Arial,'ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',Osaka,'ＭＳ Ｐゴシック', 'MS PGothic',sans-serif;color:#444;line-height:1.7em;font-weight:300;}

div::-webkit-scrollbar { width: 10px; height: auto; }
div::-webkit-scrollbar-track { background: #ccc; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); }
div::-webkit-scrollbar-thumb { background:#ddd; }

a {color: #444;text-decoration: none;transition:all 0.25s;cursor: pointer;border-radius:3px;}


div {border-radius:3px;}

img {max-width:100%;}
input {font-size: 15px;font-size: 1.5rem;}

input[type="search"]::-ms-clear {display: none;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display: none;}



input[type='text'],
input[type='number'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='submit'],
input[type='button'],
button,
textarea,
select {
-webkit-appearance: none;box-sizing: border-box;font-size: 15px;vertical-align:middle;height: 2em;border:solid 1px #CCC;border-radius:3px; background: #fff;padding:3px;}

input[type='tel'] {width:130px;}
input[type='number'] {width:60px;}

input[type='submit'],
input[type='reset'],
input[type='button'],
button { height:2em;background:#2e323d !important;border: none;border-radius:3px;color:#fff;cursor:pointer;padding:2px 15px;}
button:hover {background:#50535c !important;}

textarea {width:98%;height:6em;min-height: 2em;resize: vertical;}
select {background: url(../images/select_arrow.png) right 50% no-repeat #FFF;background-size: 12px auto;padding: 2px 20px 2px 5px;}





.pc_only {display:block;}
.sp_only {display:none;}

.clear {clear:both;}

hr {border-top: 1px solid #bbb;border-bottom: 1px solid #fff;}



/* =========================================================

Header

=========================================================== */

#header {width:100%;padding:10px 0;overflow:hidden;background:url(../images/logo.png) no-repeat center center #999;background-size: 55px auto;vertical-align:middle;border-radius:0;}
#header h1#logo {float:left;width:200px;font-size:24px;margin-left:15px;color:#222;}
#header h1#logo span {font-size:75%;display:block;margin:0 0 5px;}
#header #logout {float:right;width:120px;height:60px;line-height:60px;margin-right:15px;text-align:right !important;}




/* =========================================================

Footer

=========================================================== */

#footer {width:100%;background:#999999;padding:10px 0;text-align:center;font-size:12px;border-radius:0;}






/* =========================================================

table

=========================================================== */

.table {margin:0 0 30px;}
.table table {width: 100%;border-collapse: collapse;border-spacing: 0;}
.table table td, .table table th {padding:0.6em 1.2em;border: 1px solid #4d515a;vertical-align: top;word-wrap: break-word !important;word-break:break-all;}
.table table th {background: #2e323d;white-space: nowrap;vertical-align: middle;color:#FFF;}
.table table p {margin:0 0 8px !important;}
.table table thead th {text-align:center !important;}
.table table .txtcenter {text-align:center !important;}
.table table tr:hover {background: #efefef;}


p.center{text-align:center;}
.fb {font-weight:500 !important;}
.tyuui {font-weight:500;color:#F00;}

.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}

.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}




/* =========================================================



=========================================================== */

/* ボックス　width */

.box {border:solid 1px #CCC;padding:30px;margin:0 auto 20px;overflow:hidden;}

.w300 {width:300px !important;margin:0 auto;}
.w400 {width:400px !important;margin:0 auto;}
.w500 {width:500px !important;margin:0 auto;}
.w600 {width:600px !important;margin:0 auto;}


/* ボタン */

.button {padding:6px 12px;font-size:13px;border-radius:4px;color:#FFF;line-height:1.8em;word-wrap: normal !important;}
.button:hover {color:#FFF;}
.button.blue {background:#0058aa;}
.button.blue:hover {background:#44aed8;}
.button.gray {background:#999;}
.button.gray:hover {background:#666;}
.button.darkblue {background:#2e323d;}
.button.darkblue:hover {background:#50535c;}
.button.red {background:#e50012;}
.button.red:hover {background:#ff3939;}
.button.green {background: #419800;}
.button.green:hover {background: #20d000;}

.add_telnum {margin:0 0 20px;}
.registration {text-align:center;clear:both;}
.cont_right {float:right;display:inline-block;}


.row {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5px 0px;
}

.cont1of2 {width:calc(50% - 40px);margin:20px;}
.cont1of3 {width:calc(33.333% - 40px);margin:20px;}



/* ページャー */

#pagenum {margin:20px 0;overflow:hidden;font-size:15px;text-align:center;}
#pagenum span {display:inline-block;margin:0 2px 0 0;padding:1px 10px;background:#ddd;border:solid 1px #ddd;}
#pagenum a {display:inline-block;margin:0 2px 0 0;text-decoration:underline;padding:1px 10px;border:solid 1px #ddd;background:#efefef;color:#008ba6;}
#pagenum a:hover {color:#CCC;}
#pagenum .next {text-decoration:none;background:none;border:none;font-size:12px;}
#pagenum .prev {text-decoration:none;background:none;border:none;font-size:12px;}


