<?php
$this->assign('title', 'Forbidden');
?>
    <div class="section">
        <div class="inner">
            <div class="company_message">
            <p>
            ごのページは現在ご利用いただけません。
            </p>
            </div>
        </div><!--/inner-->
    </div><!--/company-->
