<?php
$this->assign('title', '決済完了');
?>
    <div class="section">
        <div class="inner">
            <div class="company_message">
            <p>
            お支払いが完了しました。引き続きサービスをご利用ください。
            </p>
            </div>
        </div><!--/inner-->
    </div><!--/company-->
