<?php 
$this->assign('title', 'サービス申込み');
$this->Html->addCrumb('サービス申込み');
$this->Html->addCrumb('回線手配中');
?>

    <div class="section">
        <div class="inner">
            <div class="company_message">
            <p>
            <?php echo $user['company_name']; ?>　<?php echo $user['responsible_name']; ?> 様<br>
            ただいま、回線手配中です。<br>
            </p>
            </div>
        </div><!--/inner-->
    </div><!--/company-->



