/* ===============================================================================================

top

================================================================================================= */



h1,h2,h3 {color:#2e323d;margin:0 0 30px;}

#main h2 {font-size:26px;position: relative;padding: 0.3em;text-align:center;margin-bottom:40px !important;}
#main h2:after {content: '';position: absolute;width:90px;bottom:-10px;height:4px;left: 50%; -webkit-transform: translate(-50%, -50%); /* Safari用 */transform: translate(-50%, -50%);background: repeating-linear-gradient(-45deg, #2e323d, #2e323d 2px, white 2px, white 4px);}
#main h3 {font-size:22px;text-align:left !important;border-bottom:solid 3px #2e323d;padding:0 0 5px;}
#main h3:before {font-family: FontAwesome;content: '\f009';margin-right:10px;}
#main h4 {font-size:18px;text-align:left !important;border-left:solid 3px #2e323d;padding:2px 0 2px 8px;background:#ededed;margin-bottom:30px;}

.moreview {margin:15px auto;display:inline-block;}
.moreview a {display:block;border:solid 2px #e50012;color:#e50012;padding:6px 26px 5px;font-size:16px;border-radius:20px;line-height:1em;}
.moreview a:hover {background:#2e323d;border:solid 2px #2e323d; color:#FFF;}

.morelook {margin:0 auto;display:inline-block;}
.morelook a {display:block;height:36px;line-height:36px;padding:0 20px;font-size:15px;border:solid 1px #222; }
.morelook a:hover {background:#333;color:#FFF;}

.new_account {width:280px;margin:20px auto;clear:both;text-align:center;}
.new_account a {display:block;font-weight:700;padding:3px 0;background:#e50012;border-radius:4px;color:#FFF;}
.new_account a:hover {background:#2e323d;color:#FFF;}

.section .inner {padding:80px 0 !important;}
.section .article {padding:0 0 60px !important;}
.section p.lead {width:68%;text-align:left !important;margin:0 auto 40px !important;}

.row {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 1px;
}

.cont1of2 {width:calc(50% - 40px);margin:20px;}
.cont1of3 {width:calc(33.333% - 40px);margin:20px;}

.scroll{overflow: auto;white-space: nowrap;}
.scroll::-webkit-scrollbar{height: 5px;}
.scroll::-webkit-scrollbar-track{background: #F1F1F1;}
.scroll::-webkit-scrollbar-thumb {background: #BCBCBC;}
.scrollinfo {background:url(images/table_info.png) no-repeat left center;background-size:50px auto;padding:2px 0 0 60px;font-size:12px;margin:10px 0 0;}


/* メリット
================================== */


#merit h1 {text-align:center;color:#e50012;font-size:36px;line-height:1.3em;}
#merit dl {width:49%;margin:0 0 30px;}
#merit dl:nth-child(odd){float:right;}
#merit dl:nth-child(even){float:left;}
#merit dl dt {color:#e50012;font-size:24px;margin:0 0 10px;line-height:1.3em;vertical-align:middle;}
#merit dl dt span {display:inline-block;vertical-align: middle;padding:1px 8px;margin:0 8px 5px 0;border-radius:20px;color:#FFF;background:#e50012;font-size:13px;}
#merit dl dd {overflow:hidden;text-align:center;}
#merit dl dd p {margin-bottom:10px;text-align:left;}
#merit dl dd a {display:block;background:url(images/icon_arrow_r.png) no-repeat left center;background-size:15px auto;padding:0 0 0 20px;color:#2e323d;font-weight:500;text-align:left;}
#merit dl dd a:hover {color:#CCC;text-decoration:underline;}
#merit dl dd img {width:80%;margin:10px auto;}


/* 利用スキーム
================================== */

#about {overflow:hidden;}
#about .imagebox{width:50%;padding:60px 30px;text-align:center;}
#about .boxL {float:left;background:#e2e2e2;}
#about .boxR {float:right;background:#f4f3f3;}
#about .imagebox .innerbxL {float:right;width:440px;}
#about .imagebox .innerbxR {float:left;width:440px;}
#about .imagebox img {margin:20px auto 50px;}
#about .imagebox a {display:inline-block;border:solid 2px #e50012;padding:2px 30px;border-radius:16px;color:#e50012;}
#about .imagebox a:hover {background:#e50012;color:#FFF;}



/* 導入までの流れ
================================== */

#top_flow {text-align:center !important;}
#top_flow {background:#E2E2E2;text-align:center;}
#top_flow h2:after {background: repeating-linear-gradient(-45deg, #2e323d, #2e323d 2px, #E2E2E2 2px, #E2E2E2 4px);}


#top_flow ul {overflow:hidden;}
#top_flow ul li {float:left;text-align:center !important;color:#FFF;border-radius:6px;min-height:260px;}
#top_flow ul li:nth-child(odd) {width:31%;background:#2e323d;}
#top_flow ul li:nth-child(even) {width:30px;background:url(images/icon_arrow_r.png) no-repeat center center;background-size:24px auto}
#top_flow ul li div {margin:20px 15px;}
#top_flow ul li span {display:block;font-family: 'Oswald', sans-serif;font-size:20px;}
#top_flow ul li img {width:60%;margin:0 auto;}
#top_flow ul li p {text-align:center !important;}



/* 簡単操作
================================== */

#sousa {background:#f4f3f3;text-align:center;}
#sousa h2:after {background: repeating-linear-gradient(-45deg, #2e323d, #2e323d 2px, #f4f3f3 2px, #f4f3f3 4px);}
#sousa .sousaimage .cont1of3 p {font-size:20px;text-align:center !important;}
#sousa .sousaimage .cont1of3 img {margin-bottom:10px;}



/* よくある質問
================================== */

#top_qa {background:#E2E2E2;text-align:center;}
#top_qa h2:after {background: repeating-linear-gradient(-45deg, #2e323d, #2e323d 2px, #E2E2E2 2px, #E2E2E2 4px);}

#top_qa dl {overflow:hidden;text-align:left !important;margin-bottom:2px;}
#top_qa dl dt {background-image:url(images/icon_plus.png),url(images/icon_q.png);background-position:right center, left top;background-repeat: no-repeat, no-repeat;background-color:#FFF;background-size:36px auto,30px auto;overflow:hidden;padding:8px 35px 6px 50px;cursor:pointer;}
#top_qa dl dd {background:url(images/icon_a.png) no-repeat 2% 20px #F4F3F3;background-size:16px auto;}
#top_qa dl dd a {text-decoration: underline;}

.slideBox,
.slideBox02,
.slideBox03,
.slideBox04,
.slideBox05,
.slideBox06,
.slideBox07,
.slideBox08,
.slideBox09,
.slideBox10,
.slideBox11,
.slideBox12,
.slideBox13,
.slideBox14,
.slideBox15
.slideBox16,
.slideBox17,
.slideBox18,
.slideBox19,
.slideBox20 {display: none;padding:30px 30px 30px 50px;position:relative;clear:both;text-align: left;}




/* 料金
================================== */

#top_price {text-align:center !important;}
#top_price p {text-align:center !important;margin:0 0 30px;}
#top_price table {text-align:center !important;}
#top_price table th, #price table td {vertical-align:middle;}


/* 利用シーン
================================== */

#top_scene {text-align:center !important;background:#F4F3F3;}
#top_scene h2:after {background: repeating-linear-gradient(-45deg, #2e323d, #2e323d 2px, #f4f3f3 2px, #f4f3f3 4px);}
#top_scene .row div.sceneimg {width:calc(25% - 20px);margin:10px;}


/* お知らせ
================================== */

#news {text-align:center !important;background:#cecece;}
#news h2:after {background: repeating-linear-gradient(-45deg, #2e323d, #2e323d 2px, #cecece 2px, #cecece 4px);}
#news #newslist {border:solid 1px #CCC;background:#FFF;padding:30px 60px;margin-top:12px;margin:0 0 30px;}
#news #newslist li {overflow:hidden;padding:0 0 6px;margin:0 0 6px;border-bottom:solid 1px #CCC;}
#news #newslist li span {float:left;width:100px;margin-right:10px;}
#news #newslist li p {width:80%;float:left;text-align:left;}
#news .ichiran {margin:0 auto;display:inline-block;}
#news .ichiran a {display:block;border:solid 2px #2e323d;color:#2e323d;padding:6px 26px 5px;font-size:16px;border-radius:20px;line-height:1em;}
#news .ichiran a:hover {background:#2e323d;border:solid 2px #2e323d; color:#FFF;}




/* お問い合わせ
================================== */

#toiawase {text-align:center !important;background:#E2E2E2;}
#toiawase .row div.toiawasebanner {width:calc(50% - 50px);margin:25px;}
#toiawase_tel {margin-bottom:50px;}
#toiawase_tel p {margin-bottom:10px;}
#toiawase_tel p span {white-space: nowrap;}
#toiawase_tel p.telno {font-size:28px;}



/* ご利用ガイド
================================== */



#sv_mypage {text-align:center;}
#setting {position:relative;background:#f4f3f3;text-align:center;}

#setting h3, #sv_mypage h3,#phoneUse h3 {border:solid 2px #2e323d;display:inline-block;width:260px;text-align:center !important;margin:0 auto 40px;line-height:1em;height:36px;line-height:36px;}
#setting h3:before , #sv_mypage h3:before , #phoneUse h3:before {display:none;}

.mypageImg1 {overflow:hidden;margin:0 auto 40px;}
.mypageImg1 img {width:65%;margin:0 auto 30px;}
.mypageImg1 p {text-align:left !important;}
.mypageImg1 p span {display:block;font-size:20px;margin:0 0 20px;}
.mypageImg1 p a {text-decoration:underline;}

#transfer_settings div.cont1of2 h4 {text-align:center !important;border-left:none !important;font-size:22px !important;background:none;margin-bottom:15px !important;}
#transfer_settings div.cont1of2 p {text-align:left;}
#transfer_settings div.cont1of2 img {width:60%;margin:0 0 10px;}

#phoneUse {position:relative;text-align:center;}


/* ===============================================================================================

page

================================================================================================= */

/* サービス内容
================================== */

#function {overflow:hidden;}
#function div.it_can {width:calc(50% - 20px);margin:10px;border:solid 1px #2e323d;}
#function div.it_can h3 {background:#2e323d;color:#FFF;padding:10px 5px;font-size:20px;text-align:center !important;border:none;}
#function div.it_can h3 span {font-size:80%;display:block;}
#function div.it_can h3:before {display:none;}
#function div.it_can ul {margin:0 30px 25px;}
#function div.it_can ul li {background:url(images/icon_circle_darkblue.png) no-repeat 0 8px;background-size:8px auto;padding:0 0 0 20px;font-size:13px;}

#prices {position:relative;background:#f4f3f3;}
#prices table {border:0;border-collapse:collapse;border-spacing:0;margin:0 0 15px;padding:0;width:100%;color:#fff;}
#prices table th {border-bottom:solid 1px #FFF;}
#prices table th.side {background:#2e323d;padding:6px 20px;font-size:13px;}
#prices table td.side {background:#2e323d;padding:6px 20px;font-size:13px;}
#prices table th {padding:15px 8px;border-right:1px solid #fff;vertical-align:bottom;text-align:center;background:#82848b;width:20%;}
#prices table td {text-align:center;background:#82848b;border-right:1px solid #fff;}
#prices table th span {font-size:14px;}
#prices table td span {font-size:14px;}
#prices table td.on {background:#e50012;width:25%;font-size:18px;}
#prices table th.on {background:#e50012;font-size:18px;}

#cloudtool {text-align:center !important;}
#cloudtool p {text-align:center !important;}
#cloudtool div#tools div {width:calc(20% - 6px);margin:3px;}



/* 運営会社
================================== */

.company_message {overflow:hidden;width:100%;margin:0 auto 50px;padding:100px 140px;text-align:center !important;border:solid 1px #CCC;}
.company_message ul {width:480px;padding:0 0 0 30px;margin:15px auto;text-align:left;}
.company_message ul li {list-style: disc !important;font-weight:700;}
.company_message p {text-align:left !important;line-height:2em;}

.our_service {overflow:hidden;margin:0 0 50px;background:#efefef;padding:40px 0;text-align:center !important;}
.our_service h3 {font-size:20px;}
.our_service img {margin:0 0 20px;width:360px;}


/* 反社会的勢力への方針
================================== */

#policy ol {border:solid 1px #CCC;padding:80px 100px 50px;list-style: decimal;}
#policy ol li {font-size:18px;margin:0 0 30px 30px;}
#policy ol li h3 {font-size:18px;text-align:left !important;border-bottom:solid 1px #CCC;padding:0 0 10px;}
#policy ol li h3:before {display:none;}
#policy ol li p {font-size:16px;margin:10px 0 40px;}


/* サイトマップ
================================== */

#sitemap h3 {border-bottom:solid 1px #CCC;padding:0 0 10px 0;font-size:20px;text-align:left;}
#sitemap div.sitemapbox {width:calc(100% - 20px);margin:10px 10px 50px;}
#sitemap div.sitemapbox1of2 {width:calc(50% - 20px);margin:10px 10px 50px;}


/* 個人情報保護方針
================================== */

#privacy .privacybox {border:solid 1px #CCC;padding:80px 100px 50px;}
#privacy .privacybox ol {list-style: decimal;margin:15px 0 40px 20px;}
#privacy .privacybox ol li {margin:0 0 10px;}
#privacy .privacybox p {margin:0 0 30px;text-align:left !important;}
#privacy .privacybox h3 {font-size:18px;text-align:left !important;border-bottom:solid 1px #CCC;padding:0 0 10px;}
#privacy .privacybox h3:before {display:none;}
#privacy .privacybox h4 {font-size:18px;margin:0 0 20px;text-align:left !important;background:none !important;border-left:none !important;padding-left: 0 !important;}


/* 契約約款／免責事項
================================== */

#kiyaku {text-align: center;}
#kiyaku .gde-text {margin:30px auto 0;text-align:center !important;display:inline-block;}
#kiyaku .gde-text a {display:block;height:36px;line-height:36px;padding:0 20px;font-size:15px;border:solid 2px #2e323d;border-radius:20px;}
#kiyaku .gde-text a:hover {background:#2e323d;color:#FFF;}


/* ご利用料金
================================== */

#price {}
#price table {text-align:center;}
#price .creditcard {margin: 0 0 40px;width:500px;}
#price .creditcard img {width:100%;}

dl.attention {background:#efefef;padding:40px 60px;margin:0 0 30px;}
dl.attention dt {font-weight:500;margin:0 0 15px;font-size:18px;}
dl.attention dd span {color:#F00;font-weight:500;text-decoration:underline;}
dl.attention dd ul {padding:0 0 0 20px;}
dl.attention dd ul li {list-style-type:disc;margin-bottom:10px;}
dl.attention dd ul li:last-child {margin-bottom:0;}
dl.attention dd ul li h4 {text-align:left !important;font-weight:500;margin-bottom:5px !important;border-left:none !important;padding-left:0 !important;}


/* 利用スキーム
================================== */

#minderuimg {}

#customerImg {text-align:center;}
#customerImg h3 {border:solid 2px #2e323d;display:inline-block;width:260px;text-align:center !important;margin:0 auto 20px;line-height:1em;height:36px;line-height:36px;}
#customerImg h3:before {display:none;}
#customerImg dl {width:600px;margin:0 auto;}
#customerImg dl dt {margin:0 0 20px;} 
#customerImg dl dd {text-align:left !important;} 
#customerImg dl dd span {background:#2e323d;padding:6px 25px;line-height:1em;display:block;margin-top:20px;border-radius:20px;color:#FFF;margin:20px auto 0 !important;text-align: center !important;max-width:380px;} 
.customerImg01,.customerImg03,.customerImg05 {position:relative;background:#f4f3f3;}


/* 導入までの流れ
================================== */

#flow {}
#flow h3 {border:none;margin:10px 0 10px;}
#flow h3:before {display:none;}
#flow ul.flowlist {margin:0 0 50px;padding:25px 0 0;}
#flow ul.flowlist li {overflow: hidden;border-bottom:solid 1px #CCC;padding:0 80px 25px;margin:0 0 25px;}
#flow ul.flowlist li:last-child {border-bottom:none;margin-bottom:0;}
#flow ul.flowlist li img {float:left;width:150px;margin:0 20px 0 0;}
#flow ul.kakunin {margin:0 0 50px;padding:0 0 0 20px;}
#flow ul.kakunin li {list-style: disc;}
#flow ul.kakunin li span {display:block;}


/* お問い合わせ
================================== */

#form .table {}
#form .table table th {word-wrap: break-word !important;}
#form .table table td span {font-size:13px;margin-left:10px;}

#form .wpcf7-not-valid-tip-no-ajax,
#form .wpcf7-not-valid-tip {color: #f00;font-size: 1em;display: block;}
#form .wpcf7-mail-sent-ok {background: #88ABDA;color:#FFF;border:none;text-align: center;margin-top:30px;}
#form .wpcf7-mail-sent-ng {background: #f00;color:#FFF;border:none;text-align: center;margin-top:30px;}
#form .wpcf7-spam-blocked {background: #f00;color:#FFF;border:none;text-align: center;margin-top:30px;}
#form .wpcf7-validation-errors {background: #f00;color:#FFF;border:none;text-align: center;margin-top:30px;}

#form .submitbtn {text-align:center;}


/* お知らせ
================================== */

#oshirase .post {overflow:hidden;padding:50px 0;}
#oshirase .post .h1ttl {width:99.4%;font-size:26px;border:solid 1px #CCC;padding:1em 20px;text-align:center;margin:0 0 35px;background:#FFF;box-shadow: 5px 5px #bbb;}
#oshirase .post .entry {border:solid 1px #CCC;padding:50px;}
#oshirase .post .entry .postdata {border-bottom:solid 1px #CCC;padding:0 0 10px;margin:0 0 30px;}
#oshirase .pagerBox {text-align:center;margin:0 0 50px;}

#oshirase .postlist {border:solid 1px #CCC;padding:50px;} 
#oshirase .postlist li {overflow:hidden;padding:0 0 10px;margin:0 0 15px;border-bottom:solid 1px #CCC;}
#oshirase .postlist li span {float:left;width:100px;margin-right:10px;}
#oshirase .postlist li p {width:80%;float:left;text-align:left;}
#oshirase .postlist li p a:link {text-decoration:underline !important;}
#oshirase .postlist li .column_txt {margin:10px 0;display:block;width:100%;clear:both !important;color:#666 !important;}


/* よくある質問
================================== */

#qa {text-align:center;}
#qa #qaList {overflow:hidden;text-align:left !important;margin:0 0 50px;}
#qa #qaList div {width:calc(50% - 20px);margin:10px;border:solid 1px #2e323d;}
#qa #qaList div h3 {font-size:22px;border-bottom:solid 1px #2e323d;padding:20px;background:#eaeaeb;}
#qa #qaList div ul {margin:15px 30px 30px;}
#qa #qaList div ul li {background:url(images/icon_circle_darkblue.png) no-repeat 0 8px;background-size:8px auto;padding:0 0 0 20px;font-size:13px;}
#qa #qaList div p.btn_qaList {text-align:right;padding:0 20px 20px 0;}


#qa .answer {margin:0 0 30px;}
#qa .answer h3 {font-size:22px;border-bottom:solid 3px #eaeaeb;padding:10px 15px 10px 0;text-align:left !important;}
#qa .answer dl {overflow:hidden;text-align:left !important;margin-bottom:2px;}
#qa .answer dl dt {background:url(images/icon_q.png) no-repeat left top #efefef;background-size:30px auto;overflow:hidden;padding:8px 20px 6px 50px;cursor:pointer;line-height:1.2em;}
#qa .answer dl dd {background:url(images/icon_a.png) no-repeat 2% 20px;background-size:16px auto;padding:20px 20px 20px 50px;margin-bottom:20px;}
#qa .answer dl dd ul {list-style:disc;padding:0 0 0 20px;line-height:1.2em;}
#qa .answer dl dd a {text-decoration:underline;}

#qa .searchform  {margin:0 0 30px;}
#qa .searchform input {-webkit-appearance: none;box-sizing: border-box;font-size: 15px;vertical-align:middle;height: 2em;border:solid 1px #CCC;border-radius:3px; background: #fff;padding:3px;}
#qa input[type='text'] {width:260px;}
#qa input[type='submit'] { height:2em;background:#222;border: none;border-radius:3px;color:#fff;cursor:pointer;padding:2px 15px;}
#qa input[type='submit']:hover {background:#666;}

#qa #qa_taxoList {border:solid 1px #CCC;border-radius:4px;padding:30px;text-align:left;line-height:1.2em;}
#qa #qa_taxoList .ttl_qa_taxoList {font-size:120%;margin:0 0 20px;padding:0 0 0 15px;border-left:solid 4px #2e323d;}
#qa #qa_taxoList ul li {margin:0 0 8px;}


/* 検索結果一覧
================================== */

#searchlist dl {margin:0 0 20px;border-bottom:solid 1px #CCC;}
#searchlist dl dt {background:url(images/icon_circle_darkblue.png) no-repeat 0 50%;background-size:12px auto;margin:0 0 5px;padding:0 0 0 20px;}
#searchlist dl dt a {text-decoration:underline;}
#searchlist dl dd {padding:0 0 20px;font-size:80%;}




/* 本人確認資料
================================== */
#identification {}
#identification .row .cont1of2 {width:calc(50% - 20px);margin:10px;border:solid 1px #CCC;border-radius:3px;padding:25px;min-height:180px;}
#identification .row .cont1of2 h4 {font-size:17px;font-weight:500;margin-bottom:10px;padding:0 0 5px;border-bottom:solid 1px #CCC;border-left:none;background:none;}
#identification .row .cont1of2 ul {width:70%;float:right;padding:10px 0 0 20px;}
#identification .row .cont1of2 ul li {list-style-type: disc;}
#identification .row .cont1of2 img {width:100px;float:left;}

dl.customercenter_info {border:solid 1px #CCC;padding:60px 100px;text-align:center !important;}
dl.customercenter_info dt {font-size:22px;padding:0 0 10px;margin:0 0 20px;border-bottom:solid 1px #CCC;}
dl.customercenter_info dd span {font-size:36px;display:block;margin:15px 0 20px;}

dl.customercenter_info .toform {width:240px;margin:15px auto 10px;text-align:center;display:block;}
dl.customercenter_info .toform a {display:block;font-weight:500;padding:6px 0 6px 20px;border-radius:4px;color:#FFF;background:url(images/icon_nav5.png) no-repeat 5% 50% #666;background-size:30px auto;}
dl.customercenter_info .toform a:hover {background:url(images/icon_nav5.png) no-repeat 5% 50% #999;background-size:30px auto;}


/* システムに使用
================================== */
p.pay {margin:20px auto; border:2px solid #666; padding:15px;width: max-content;}
.w50{width:50%;margin:0 auto;}



/* 現在ボイスワープをお使いの方へ
================================== */

#voicewarp {text-align:center !important;}
#voicewarp #for_uservoicewarp {}
#voicewarp #for_uservoicewarp h3 {}
#voicewarp #for_uservoicewarp h3 {font-size:20px;border-bottom:solid 2px #2e323d;padding:0 0 5px;text-align:center !important;}
#voicewarp #for_uservoicewarp h3:before {display:none;}
#voicewarp #for_uservoicewarp ul {padding:0 0 0 20px;}
#voicewarp #for_uservoicewarp ul li {text-align:left !important;list-style:disc;}
#voicewarp #for_uservoicewarp .row {margin-bottom: 0;}
#voicewarp .voice_arrow {color:#e50012;margin:0 0 40px;text-align:center !important;width:100%;}
#voicewarp .voice_arrow img {width:40px;margin:0 auto !important;}

#voicewarp .incase_minderu {width:480px;border:solid 2px #222;padding:30px;margin:0 auto;}
#voicewarp .incase_minderu h3 {font-size:20px;border-bottom:solid 2px #2e323d;padding:0 0 5px;text-align:center !important;}
#voicewarp .incase_minderu h3:before {display:none;}
#voicewarp .incase_minderu ul {padding:0 0 0 20px;}
#voicewarp .incase_minderu ul li {text-align:left !important;list-style:disc;}

#tensou {position:relative;background:#f4f3f3;text-align:left !important;}











