/* =========================================================

responsive

=========================================================== */


@media screen and (max-width: 1024px) {
	

body {font-size: 15px;font-size: 1.5rem;}
.br-sp {display:none !important;}



.inner {width:94%;margin: 0 auto;}
.section .inner {padding:50px 0 !important;}

.breadcrumb {overflow:hidden;padding:10px 0 0 !important;margin:0 15px;}
.topic_path {width:92%;margin:0 auto;}

#mainVisual .slidetxt p {width:96%;margin:0 auto;}

.wpcf7 {margin:0 !important;padding:0 !important;}



}
 
 
@media screen and (max-width: 840px) {

.pc_only {display:none;}
.sp_only {display:block;}	

#header-top {padding:10px 0 0;}
#header-top .logo {top:15px;right:3%; -webkit-transform: translate(0, 0); /* Safari用 */transform: translate(0, 0);}
#header-top .logo img {display:block;z-index:90;float:right;}

#header-top #headinfo {position:absolute;right:3%;top:400px;}
#header-top #headinfo ul {width:150px;text-align:center;float:right;}
#header-top #headinfo ul li#login {float:right;}
#header-top #headinfo ul li#login a {width:240px;display:block;padding:2px 0;border:solid 2px #e50012;background:#FFF;color:#e50012;border-radius:4px;font-weight:500;margin-right:8px;}
#header-top #headinfo ul li#new_account {margin:0 0 8px;}

	
#header {padding:10px 0 0;}
#header .logo {top:15px;left:3%; -webkit-transform: translate(0, 0); /* Safari用 */transform: translate(0, 0);}
#header .logo img {display:block;margin:0 auto;width:110px;}
#header #headinfo {right:3%;top:20px;}
#header #headinfo ul {width:150px;text-align:center;float:right;}
#header #headinfo ul li#login {float:right;}
#header #headinfo ul li#login a {width:240px;display:block;padding:2px 0;border:solid 2px #e50012;background:#FFF;color:#e50012;border-radius:4px;font-weight:500;margin-right:8px;}
#header #headinfo ul li#new_account {margin:0 0 8px;}

#mainVisual {width:100%;height:600px;text-align:right;position:relative;top:0;z-index:80;background:url(images/mainvisual_sp.jpg) no-repeat 40% 0 #82848b;background-size:180% auto;}
#mainVisual .slidetxt {position:absolute;z-index:2;width:100%;top:40%;}
#mainVisual .slidetxt p {width:90%;margin:0 auto;text-align:right;color:#FFF;font-size:28px;line-height:1.5em;}

.inner {width:90%;margin: 0 auto;}
.section .inner {padding:40px 0 !important;}
.section p.lead {width:100%;text-align:left !important;margin:0 auto 30px;}

#global-nav {width:100%;height:100px;background:#2e323d;}
#global-nav ul {width:100%;float:none;}
#global-nav .inner {padding:0 !important;margin:0 !important;width:100%;}
#global-nav ul li {float:left;width:calc(16.788% - 1px);margin-right:0;text-align:center !important;}
#global-nav ul li a {color:#FFF;font-weight:700;height:100px;padding:40px 0 20px;display:block;font-size:12px;border-right:solid 1px #FFF;}
#global-nav ul li a:hover {color:#CCC;}
.h_new_account {display:none;}

#global-nav ul li:nth-child(1) {background:url(images/icon_nav1.png) no-repeat 50% 15px;background-size:35px auto;}
#global-nav ul li:nth-child(2) {background:url(images/icon_nav2.png) no-repeat 50% 15px;background-size:35px auto;}
#global-nav ul li:nth-child(3) {background:url(images/icon_nav3.png) no-repeat 50% 15px;background-size:35px auto;}
#global-nav ul li:nth-child(4) {background:url(images/icon_nav4.png) no-repeat 50% 15px;background-size:35px auto;}
#global-nav ul li:nth-child(5) {background:url(images/icon_nav5.png) no-repeat 50% 15px;background-size:35px auto;}
#global-nav ul li:nth-child(6) {float:left;display:block;font-weight:700;height:100px;}
#global-nav ul li:nth-child(6) a {background:url(images/icon_nav6.png) no-repeat 50% 15px #e50012;background-size:35px auto;border-radius:0;color:#FFF;border-right:none;padding:40px 0 20px;}
#global-nav ul li:nth-child(6) a:hover {background:#FFF;color:#e50012;}
#top_scene .row div.sceneimg {width: calc(50% - 10px);margin: 5px;}
#footer {padding:40px 0 30px;}
#footer .cont1of3 {width:calc(100% - 10px);margin:5px;text-align:left !important;}
#footer .f_logo {margin:0 0 20px;font-size:30px;}
#footer .f_logo span {font-size:80%;}

#footer dl {width:49%;float:none;margin:0 0 20px;}
#footer dl:first-child {float:left;}
#footer dl:last-child {float:right;}
#footer dl dt {background:#4d515a;font-size:15px;font-weight:700;margin:0 0 10px;line-height:1.2em;min-height:40px;line-height:40px;text-align:center;}
#footer dl dd {text-align:left !important;font-size:12px;}
#footer dl dd ul {border-top:solid 1px #a7a9ae;border-right:solid 1px #a7a9ae;border-left:solid 1px #a7a9ae;}
#footer dl dd ul li {margin:0;}
#footer dl dd ul li a {display:block;padding:0 12px;height:36px;line-height:36px;border-bottom:solid 1px #a7a9ae;font-size:16px !important;background:url(images/icon_fnav.png) no-repeat right center;background-size:20px auto;}
#footer .free_account,#footer .member_login,#footer .f_contact,#footer .f_download {width:80%;margin:0 auto 10px;}


#merit h1 {font-size:30px;}
#top_flow ul li:nth-child(odd) {width:21%;}


#about .imagebox{width:50%;padding:60px 0;text-align:center;}
#about .imagebox .innerbxL {float:right;width:100%;}
#about .imagebox .innerbxR {float:left;width:100%;}
#about .imagebox img {margin:20px auto 50px;}

.company_message {padding:80px 80px;}
.company_message ul {width:86%;}

#customerImg dl {width:100%;margin:0 auto;}
#customerImg dl dt img {width:80%;margin:0 auto;}
#customerImg h3 {border:solid 2px #2e323d;display:inline-block;width:260px;text-align:center !important;margin:0 auto 20px;line-height:1em;height:36px;line-height:36px;font-size:18px;}

#flow ul.list li {display:block;padding:0 10px 25px;margin:0 0 25px;}
#flow ul.list li img {float:left;width:150px;margin:0 20px 0 0;}

input[type='text'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='submit'],
input[type='button'],
input[type='password'],
button,
textarea {width:98%;}

input[type='file'] {width:94%;font-size:13px;}

input[type='tel'] {width:98%;}
select {width:auto;max-width:98%;}

td.postal input[type='text'] {width:150px;}

#identification .row .cont1of2 {text-align:center;}
#identification .row .cont1of2 ul {width:100%;float:none;}
#identification .row .cont1of2 ul li {text-align:left;}
#identification .row .cont1of2 img {width:100px;float:none;margin:0 auto ;}

.mypageImg1 {overflow:hidden;margin:0 auto 40px;}
.mypageImg1 img {width:90%;margin:0 auto 30px;}
.mypageImg1 p span {display:block;font-size:18px;margin:0 0 20px;}

#transfer_settings div.cont1of2 {width:calc(100% - 0px);margin:0 0 20px;}
#transfer_settings div.cont1of2 img {width:70%;margin:0 0 10px;}

#price .creditcard {margin: 0 auto 40px;width:90%;}


}

 
 
@media only screen and (max-width:480px) {


#main h2 {font-size:22px;}
#main h4 {font-size:17px;padding:4px 0 4px 8px;}

#pageVisual {height:76px;}
#mainVisual .slidetxt p {padding-top:73px;}

#topicpath.inner {width:100%;}


.table table {width:100% !important;}
table.sp_border {width:100%;border-top: 1px solid #c9c9c9;}
table.sp_border thead {display:none;}
table.sp_border tr,
table.sp_border td,
table.sp_border th {display:block;width:100% !important;}
table.sp_border td,
table.sp_border th {padding: 0.6em 0.6em;border-top-width: 0;}
table.sp_border th {background: #f0f0f0;text-align: center;font-weight: bold;}
table.sp_border th span {display:block;font-size:80%;}
table.sp_border td:before {
font-weight: bold;
display:block;
margin-bottom:0.25em;
padding-bottom:0.25em;
text-align:left;
border-bottom: dotted 1px #c9c9c9;
}


#header-top {padding:5px 0 0;}
#header-top .logo {position:absolute;top:10px;right:3%;}
#header-top .logo img {float:right;display:block;margin:0 auto;width:120px;}
#header-top #headinfo {position:absolute;width:90%;z-index:90;left:3%;top:12px;}
#header-top #headinfo ul {width:160px;text-align:center;float:left;}
#header-top #headinfo ul li#login {float:left;}
#header-top #headinfo ul li#login a {display:block;width:100%;padding:4px 6px 4px 28px;font-size:12px;background:url(images/icon_nav7.png) no-repeat 6px 3px #FFF;background-size:26px auto;}
#header-top #headinfo ul li#new_account {display:none;}

/*
#header-top {padding:5px 0 0;}
#header-top .logo {top:10px;}
#header-top .logo img {width:90px;}
#header-top #headinfo {right:2%;top:100px;}
#header-top #headinfo ul {width:110px;text-align:center;float:right;}
#header-top #headinfo ul li#login {float:right;}
#header-top #headinfo ul li#login a {display:block;width:110px;padding:1px 0;}
#header-top #headinfo ul li#new_account {display:none;}
*/
	
#header {padding:5px 0 0;}
#header .logo {top:10px;}
#header .logo img {width:70px;}
#header #headinfo {position:absolute;width:100%;z-index:90;right:3%;top:20px;}
#header #headinfo ul {width:160px;text-align:center;float:right;}
#header #headinfo ul li#login {float:right;}
#header #headinfo ul li#login a {display:block;width:100%;padding:4px 6px 4px 28px;font-size:12px;background:url(images/icon_nav7.png) no-repeat 6px 3px #FFF;background-size:26px auto;}
#header #headinfo ul li#new_account {display:none;}


#global-nav {height:80px;}
#global-nav ul {width:100%;}
#global-nav ul li {float:left;width:33.3333%;margin-right:0;text-align:center !important;}
#global-nav ul li a {height:40px;line-height:40px;padding:0 0 0 10px;display:block;font-size:11px;border-right:solid 1px #FFF;border-bottom:solid 1px #FFF;}
#global-nav ul li:nth-child(3) a {border-right:none;}

#global-nav ul li:nth-child(1) {background:url(images/icon_nav1.png) no-repeat 5px 50%;background-size:16px auto;}
#global-nav ul li:nth-child(2) {background:url(images/icon_nav2.png) no-repeat 5px 50%;background-size:16px auto;}
#global-nav ul li:nth-child(3) {background:url(images/icon_nav3.png) no-repeat 5px 50%;background-size:16px auto;}
#global-nav ul li:nth-child(4) {background:url(images/icon_nav4.png) no-repeat 5px 50%;background-size:16px auto;}
#global-nav ul li:nth-child(5) {background:url(images/icon_nav5.png) no-repeat 5px 50%;background-size:16px auto;}
#global-nav ul li:nth-child(6) {height:40px;line-height:40px;}
#global-nav ul li:nth-child(6) a {height:40px;line-height:40px;background:url(images/icon_nav6.png) no-repeat 5px 50% #e50012;background-size:20px auto;padding:0 0 0 10px;border-bottom:solid 1px #FFF;}

#mainVisual {width:100%;height:380px;text-align:right;position:relative;top:0;z-index:80;background:url(images/mainvisual_sp.jpg) no-repeat 40% 0 #82848b;background-size:220% auto;}
#mainVisual .slidetxt {position:absolute;z-index:2;width:100%;top:40%;}
#mainVisual .slidetxt p {width:90%;margin:0 auto;text-align:right;color:#FFF;font-size:28px;line-height:1.5em;}

#merit h1 {font-size:26px;}
#merit dl {width:100%;margin:0 0 20px;}
#merit dl:nth-child(odd){float:none;}
#merit dl:nth-child(even){float:none;}
#merit .new_account {margin-top:40px !important;}
#merit dl dt {font-size:22px;border-bottom:solid 1px #e54a5c;padding:0 0 6px;}
#merit dl dt span {display:block;margin:0 0 10px;padding:1px 6px;border-radius:2px;background:#ededed;color:#e50012;font-weight:500;}




#about .imagebox{padding:40px 0;}
#about .imagebox .innerbxL {float:right;width:100%;}
#about .imagebox .innerbxR {float:left;width:100%;}
#about .imagebox img {width:75%;margin:20px auto 50px;}
#about .imagebox a {display:inline-block;border:solid 2px #e50012;padding:3px 30px;border-radius:20px;color:#e50012;}
#about .imagebox a:hover {background:#e50012;color:#FFF;}

#top_flow ul li {width:70%;float:none;text-align:center !important;color:#FFF;border-radius:6px;min-height:5px;padding:15px 10px;margin:0 auto !important;}
#top_flow ul li:nth-child(odd) {width:70%;margin:0 auto !important;}
#top_flow ul li:nth-child(even) {width:30px;background:url(images/icon_arrow_b.png) no-repeat center center;background-size:24px auto}
#top_flow ul li span {font-size:28px;}
#top_flow ul li img {width:60%;margin:0 auto;}
#top_flow ul li p {text-align:center !important;}

#top_qa dl dd {background:url(images/icon_a.png) no-repeat 4% 20px #F4F3F3;background-size:14px auto;padding:15px 15px 15px 40px;}

#sousa .sousaimage .cont1of3  {width:calc(100% - 40px);margin:20px;}
#scene .row div.sceneimg {width:calc(50% - 20px);margin:10px;}
#toiawase .row div.toiawasebanner {width:calc(100% - 50px);margin:15px auto 0;}


#news #newslist {padding:30px;}
#news #newslist li span {float:none;width:100px;margin-right:10px;text-align:left;display:block;}
#news #newslist li p {width:100%;float:none;}

#footer dl {width:100%;float:none;margin:0 0 20px;}

.company_message {padding:40px;}
.company_message ul {width:100%;}
.company_message p {text-align:justify !important;}

.our_service {padding:25px;text-align:center !important;}
.our_service h3 {font-size:16px;}
.our_service img {margin:0 0 20px;width:100%;border:solid 4px #FFF;}


#qa #qaList div {width:calc(100% - 1px);margin:0 0 10px;}
#qa #qaList div h3 {font-size:18px;}
#qa #qaList div ul {margin:15px 15px 30px;}
#qa #qaList div ul li {background:url(images/icon_circle_darkblue.png) no-repeat 0 8px;background-size:8px auto;padding:3px 0 3px 20px;line-height:1.2em;margin:0 0 8px;font-size:15px;}

#qa #qaList {margin:0 0 30px;}
#qa .answer {margin:0 0 30px;}
#qa .answer dl dt {font-size:16px !important;}
#qa .answer dl dd {font-size:16px !important;background:url(images/icon_a.png) no-repeat 4% 20px;background-size:14px auto;padding:15px 15px 15px 40px;line-height:1.4em;}
#qa .searchform {text-align:left;padding:0 10px;}
#qa .searchform input[type='search'], input[type='hidden'], input[type='submit'] {width:100%;margin:0 0 10px;}
input[type='submit'] {font-size:110% !important;}
#qa .searchform .screen-reader-text {display:block;margin:0 0 5px;}
#qa #qa_taxoList {padding:20px;font-size:16px !important;}
#qa #qa_taxoList .ttl_qa_taxoList {font-size:110%;}

#policy ol {padding:30px 30px 10px;}
#policy ol li {font-size:18px;margin:0 0 20px 20px;}

#sitemap div.sitemapbox {margin:10px 10px 40px;}
#sitemap div.sitemapbox1of2 {width:calc(100% - 20px);margin:10px 10px 40px;}
#sitemap ul {border-top:solid 1px #a7a9ae;border-right:solid 1px #a7a9ae;border-left:solid 1px #a7a9ae;}
#sitemap ul li {margin:0;}
#sitemap ul li a {display:block;padding:0 12px;height:36px;line-height:36px;border-bottom:solid 1px #a7a9ae;font-size:16px !important;background:url(images/icon_arrow_rblue.png) no-repeat right center;background-size:20px auto;}

#privacy .privacybox {padding:30px 30px 10px;}
#privacy .privacybox ol {list-style: decimal;margin:15px 0 40px 20px;}
#privacy .privacybox h3 {font-size:20px;}
#privacy .privacybox h4 {font-size:18px;}

#function div.it_can {width:calc(100% - 2px);margin:10px 1px 0;}
#cloudtool div#tools div {width:calc(33.333% - 6px);margin:3px;}
#cloudtool p.lead {text-align:left !important;}


#flow ul.flowlist li {display:block;padding:0 10px 25px;margin:0 0 25px;text-align:center;}
#flow ul.flowlist li h3, #flow ul.flowlist li p {text-align:left !important;}
#flow ul.flowlist li img {float:none;width:100px;margin:0 auto;}

#oshirase .post {padding:30px 0;}
#oshirase .post .h1ttl {width:98.5%;font-size:20px;padding:0.6em;text-align:center;margin:0 0 25px;}
#oshirase .post .entry {padding:30px;}

#oshirase .postlist {padding:30px;} 
#oshirase .postlist li span {float:none;width:100px;margin-right:10px;}
#oshirase .postlist li p {width:100%;float:none;text-align:left;}

#identification .row .cont1of2 {width:calc(100% - 2px);margin:1px 1px 10px;min-height:10px;}

dl.customercenter_info {padding:50px 30px;}
dl.customercenter_info dt {font-size:22px;padding:0 0 10px;margin:0 0 20px;border-bottom:solid 1px #CCC;}
dl.customercenter_info dd span {font-size:36px;display:block;margin:15px 0 20px;}

#price .creditcard {margin: 0 auto 40px;width:100%;}

dl.attention {background:#efefef;padding:30px;margin:0 0 30px;}



#voicewarp #for_uservoicewarp h3 {font-size:18px;border-bottom:solid 2px #2e323d;padding:0 0 5px;text-align:left !important;}
#voicewarp #for_uservoicewarp .row {margin-bottom:0;}
#voicewarp #for_uservoicewarp .cont1of2 {width:calc(100% - 20px);margin:20px 10px 0px;}
#voicewarp .incase_minderu {width:100%;border:solid 2px #222;padding:30px;margin:0 auto;}
#voicewarp .incase_minderu h3 {font-size:18px;border-bottom:solid 2px #2e323d;padding:0 0 5px;text-align:left !important;}





}



@media only screen and (max-width: 380px) {


#footer .free_account,#footer .member_login,#footer .f_contact,#footer .f_download {width:96%;margin:0 auto 10px;}

input[type='submit'],
input[type='reset'],
input[type='button'],
button { height:auto;font-size:18px;word-wrap: break-word !important;padding:8px 10px;}

}

@media only screen and (max-width: 320px) {


#mainVisual {height:290px;}
#mainVisual .slidetxt {position:absolute;z-index:2;width:100%;top:40%;}
#mainVisual .slidetxt p {font-size:20px;}

#main h2 {font-size:18px;}

#merit h1 {font-size:22px;}
#merit dl dt {font-size:21px;}

#footer .free_account a,#footer .member_login a,#footer .f_contact a,#footer .f_download a {font-size:13px;}
#footer .customercenter .customer_time {font-size:11px;color:#FFF;display:block;padding:0 0 0 6px;}
#footer .customercenter .customer_tel a {display:block;color:#FFF;font-size:32px;font-weight:400;}


dl.customercenter_info dd span {font-size:26px;}


}








