/* =========================================================

mypage Header

=========================================================== */

#mypageHeader {width:100%;background:#ccc;overflow:hidden;}
#mypageHeader a:hover {color:#666;}
#mypageHeader #pg_ttl {background:url(images/mypage/mypage_logo.svg) no-repeat 98% center;background-size:54px auto;padding:0.9em 15px;font-size:22px;overflow:hidden;width:100%;}
#mypageHeader #pg_ttl span {font-size:80%;}


#gnav {width:100%;background:#2e323d;height:100px;vertical-align:middle;}
#gnav #nav-menu{list-style-type: none;height:54px;width:80%;margin: 0 auto;padding: 0;float:left;background:#2e323d;}
#gnav #nav-menu li{position: relative;display: block;width:12%;float: left;margin: 0;padding: 0;text-align: center;}
#gnav #nav-menu li a {display: block;margin: 0;padding: 14px 0;color: #fff;text-decoration: none;  }
#gnav #nav-menu li:hover > a {background: #50535c;color: #fff;}
#gnav #nav-menu li ul{list-style: none;position: absolute;top: 100%;left: 0;margin: 0;padding: 0;z-index: 9999;}
#gnav #nav-menu li ul li{overflow: hidden;width: 200%;height: 0;color: #fff;-moz-transition: .2s;-webkit-transition: .2s;-o-transition: .2s;-ms-transition: .2s;transition: .2s;}
#gnav #nav-menu li ul li a{padding: 13px 15px;background: #82848b;text-align: left;font-size: 14px;font-weight: normal;}
#gnav #nav-menu li:hover ul li{overflow: visible;height: 38px;background: #a3a5aa;}

#gnav #btn_logout {float:right;text-align:center;margin:15px 15px 0 0;}
#gnav #btn_logout a {background:#FFF;color:#2e323d;padding:4px 20px;border-radius:20px;}
#gnav #btn_logout a:hover {background:#e50012;color:#FFF;}

@media (min-width: 769px) and (max-width: 1025px) {
.nav-menu-hidden-tablet {display: none !important;}
}

@media (min-width: 1026px) {
.nav-menu-hidden-desktop {display: none !important;}
}

/* 印刷用 */
@media print {
#header {display:none;}
#mypageHeader {display:none;}
#gnav {height:50px!important;}
#global-nav {display:none;}
nav {display:none;}
.info_alert{display:none;}
#footer {display:none;}
#gnav {height:50px;}
}


/* ホバー・クリック開閉 */
.hover-click{position: relative;width: 100%;margin: 30px 0;}
.hover-click > a{display: block;width: 100%;padding: 14px 0;background: #2e323d;color: #fff;font-size: 14px;text-align: center;text-decoration: none;}
.hover-click > ul{display: none;z-index: 9999;position: absolute;width: 100%;background: #2e323d;}


#accountinfo {width:100%;height:46px;clear:both;border-top:solid 1px #CCC;background:#EEE;}
#accountinfo .contractor {font-size:115%;text-align:left;margin:10px 15px 0;width:50%;float:left;}
#accountinfo .contractor .my_telnum {font-size:130%;display: inline-block;margin-right:10px;}
#accountinfo .contractor .company_name {font-size:90%;display: inline-block;margin-right:10px;}
#accountinfo .info_alert {width:30%;float:right;margin:10px 15px 0;text-align:right;}
#accountinfo .info_alert span {color:#e50012;/*text-decoration:underline;background:url(images/mypage/icon_alert.png) no-repeat left center;background-size:18px;*/padding:2px 0 2px 24px;font-size:90%;}
#accountinfo .info_alert a:hover {text-decoration:none;}
#accountinfo .info_alert a span {}
#accountinfo .info_alert a img {display:none;}

/* =========================================================

footer

=========================================================== */

#footer.mypagefooter {padding:25px 0 15px !important;}
#footer.mypagefooter .customercenter {width:100%;margin:0 0 15px !important;text-align:center;}
#footer.mypagefooter .customercenter .customer_time {font-size:12px;color:#FFF;display:block;padding:0 0 0 6px;}
#footer.mypagefooter .customercenter .customer_tel a {display:block;color:#FFF;font-size:36px;font-weight:400;}
#footer.mypagefooter .customercenter .customer_qa a {display:block;color:#FFF;margin-bottom:15px;}

#footer.mypagefooter .copy {clear:both;text-align:center;font-size:12px;}

#footer.mypagefooter .contactform {display:inline-block;margin:5px auto 15px;}
#footer.mypagefooter .contactform a {border-radius:20px;background:#FFF;color:#2E323D;padding:6px 20px;}
#footer.mypagefooter .contactform a:hover {background:#CCC;}

/* =========================================================

mypage contents

=========================================================== */

#main.mypage {text-align:center;}
#main.mypage .table {margin-right: auto !important;margin-left: auto !important;}
#main.mypage table {text-align:center !important;}
#main.mypage h3 {text-align: center !important;background:none;border-bottom:none;}
#main.mypage h3:before {display:none;}





/* ページャー */

#pagenum {margin:20px 0;overflow:hidden;font-size:15px;text-align:center;}
#pagenum span {display:inline-block;margin:0 2px 0 0;padding:1px 10px;background:#ddd;border:solid 1px #ddd;}
#pagenum a {display:inline-block;margin:0 2px 0 0;text-decoration:underline;padding:1px 10px;border:solid 1px #ddd;background:#efefef;color:#008ba6;}
#pagenum a:hover {color:#CCC;}
#pagenum .next {text-decoration:none;background:none;border:none;font-size:12px;}
#pagenum .prev {text-decoration:none;background:none;border:none;font-size:12px;}




/* input */

#main.mypage select,.time_select {-webkit-appearance: none;-moz-appearance: none;appearance: none;
box-sizing: border-box;font-size: 15px;vertical-align:middle;height: 2em;border:solid 1px #CCC;border-radius:3px; background:url(images/select_bg.png) no-repeat 96% center #fff;background-size:auto 18px;padding:3px 30px 3px 6px;
}


/* */

.contentMenu a {display:block;background:url(images/mypage/contentMenu_arrow.png) no-repeat 96% center #efefef;background-size:6px auto;border:solid 1px #DDD;height:70px;line-height:70px;text-align:center;border-radius:4px;}
.contentMenu a:hover {background:url(images/mypage/contentMenu_arrow.png) no-repeat 96% center #ddd;background-size:6px auto;color:#444;}
.menu1of5 li{width:calc(50% - 20px);margin:10px;}

table.history {}
table.history .history_icon {width:60px;}
table.history td img {width:20px;}
.history_lead {vertical-align:middle;text-align:center;margin:0 0 20px;}
.history_lead img {width:20px;margin:0 10px 0 0;}

.transfer {}
.transfer table {margin:0 0 15px;}
.transfer .checkbox input {font-size:36px;}

.transfer_time li {margin:5px 0;}
.transfer_time span {display: inline-block;margin:0 8px;}
.response_message textarea {width:100% !important;font-size:15px;padding:10px !important;}

.card_change table td span {display:inline-block;margin:0 8px;}

.meisai {margin-bottom:40px;}
.meisai_data {text-align:left !important;font-size:22px;margin-bottom:10px;border-left:solid 3px #2e323d;padding:2px 0 2px 8px;}
.meisai table td {padding:0 !important;text-align:left !important;}
.meisai table td ul {padding:0 !important;margin: 0 !important;text-align:left !important;}
.meisai table td ul li {padding:3px 15px;overflow:hidden;}
.meisai table td ul li span.kamoku {width:30%;float:left;}
.meisai table td ul li span.price {width:60%;float:right;text-align:right !important;}
.meisai table td ul.kamokulist {border-bottom:solid 2px #CCC;}
.meisai table td ul.total li {border-bottom:solid 1px #CCC;background:#fbfbfb;}
.meisai table td ul.total li:last-child {border:none;background:#f4f4f4;}
.meisai table td ul.total li:nth-child(2) {border-bottom:solid 2px #CCC;}

.meisai table th {padding:0 15px !important;text-align:left !important;width:40% !important;}
.meisai table th dl {overflow:hidden;}
.meisai table th dl dt {float:left;clear:left;width:35%;}
.meisai table th dl dd {float:left;width:55%; }

.change {padding:0 0 10px;}

#infobox {overflow:hidden;width:100%;height:40vh;padding:40px;border:solid 1px #CCC;text-align:left !important;overflow-y: scroll; }
#infobox dl {border-bottom:solid 1px #CCC;margin:0 0 10px; padding:0 0 10px;}
#infobox dl dt {font-weight:500;font-size:110%;}
#infobox dl dt span {display:inline-block;margin:0 10px 0 0;width:90px;}
#infobox dl dd {font-size:100%;padding:0 0 0 100px;}

#infobox::-webkit-scrollbar {width: 10px;}
#infobox::-webkit-scrollbar-track {border-radius: 10px;box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);}
#infobox::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 50, .5);border-radius: 10px;box-shadow:0 0 0 1px rgba(255, 255, 255, .3);}














/* =========================================================

media query

=========================================================== */

@media (max-width: 768px) {

#mypageHeader {top:0;}
#mypageHeader #pg_ttl {background-size:35px auto;padding:0.5em 2%;font-size:15px;overflow:hidden;width:100%;}
#mypageHeader #pg_ttl span {font-size:80%;}


#gnav {height:116px;}
.nav-menu-hidden-phone {display: none !important;}
#gnav #nav-menu {width:75%;height:60px;float:left;}
#gnav #nav-menu li{width:33.333%;/*  100÷表示する項目数％ */}
#gnav #nav-menu li a {padding:22px 0;font-size:14px;line-height:1.2em;border-right:solid 1px #FFF;}
#gnav #nav-menu li a span {display: block !important;}
#gnav #nav-menu li:hover > a{background: #50535c;color: #fff;}
#gnav #nav-menu li:last-child ul{left: -100%;width: 100%;}
#gnav #nav-menu li ul li{overflow: hidden;width: 200%;height:0;}

#gnav #btn_logout {float:right;display:block;width:25%;margin:0;}
#gnav #btn_logout a {width:100%;height:60px;display:block;background:url(images/icon_logout.png) no-repeat 50% 10px #e50012;background-size:18px auto;color:#FFF;padding:30px 0 0;border-radius:0px;text-align:center;font-size:13px;letter-spacing:-0.08em;}
#gnav #btn_logout a:hover {background:#e41628;color:#FFF;}


#accountinfo {width:100%;height:56px;}
#accountinfo .contractor {font-size:100%;margin:8px 0 0 10px;width:50%;}
#accountinfo .contractor .my_telnum {font-size:120%;display:block;margin-right:0;line-height:1.1em;}
#accountinfo .contractor .company_name {font-size:75%;display: inline-block;margin-right:10px;}
#accountinfo .contractor .contractor_name {display: inline-block;}
#accountinfo .info_alert {width:38%;float:right;margin:6px 5px;text-align:right;vertical-align:middle;}
#accountinfo .info_alert a {color:#e50012;text-decoration:underline;background:none;padding:0;font-size:12px;margin:0 0 8px 0;line-height:1.1em;}
#accountinfo .info_alert a span {display:block;}
#accountinfo .info_alert a img {display:none;width:100px;float: right;}


.mypage .section .inner p {text-align:left !important;}
.mypage .section .inner input.time_select {width:80px !important;}

.button {padding:8px 12px;font-size:15px;border-radius:4px;color:#FFF;}
.registration .button,.add_telnum .button, .change .button   {font-size:18px; clear: both;}
.registration .button {margin-top:15px;}
.add_telnum .button {float: right !important;}

.w300, .w400, .w500, .w600 {width:100% !important;}

#main.mypage table td, #main.mypage table th {padding:0.6em 0.6em !important;}

table.history .history_icon {width:40px !important;}
.contentMenu a {height:50px;line-height:50px;}
.response_message {margin-bottom:20px;}

#account_detail .cont1of2 {width:calc(100% - 0px);margin:0 0 30px;}

}

@media (max-width: 480px) {

.meisai table th {width:100% !important;}

#infobox {overflow:hidden;width:100%;height:40vh;padding:30px 20px;border:solid 1px #CCC;text-align:left !important;overflow-y: scroll; }
#infobox dl dt span {display:block;}
#infobox dl dd {font-size:85%;padding:0;}

#accountinfo .contractor .company_name {font-size:95%;}
#accountinfo .contractor .contractor_name {display:none;}
#accountinfo .info_alert a img {width:100%;}


#footer.mypagefooter {padding:10px 0 10px !important;}
#footer.mypagefooter .contactform {display:inline-block;margin:5px auto 10px;}
#footer.mypagefooter .customercenter {margin:0 0 8px !important;}
#footer.mypagefooter .customercenter .customer_tel a {display:block;color:#FFF;font-size:28px;font-weight:400;}

}


@media (max-width: 380px) {
.menu1of5 {width:80%;margin:0 auto;}
.menu1of5 li{width:calc(100% - 0px);margin:0 0 20px;}

.box {padding:15px;}


}

@media (max-width: 320px) {

.transfer table tr td:nth-child(4) {width:70px !important;padding-left:3px;padding-right:3px;}

}



/* 10pg add */
.fa-yellow:before
{
    color: #e50012 ;
}

#pager {margin:20px 0;overflow:hidden;font-size:15px;text-align:center;}
#pager .num{display:inline-block;margin:0 4px 0 0;padding:1px 10px;background:#ddd;border:solid 1px #ddd;} 
#pager .num a {text-decoration:underline;color:#008ba6;}
#pager a:hover {color:#CCC;}
#pager .nav{text-decoration:none;background:none;border:none;font-size:12px;margin:0 5px;}
#pager .nav a {color:#008ba6;}



