/*
Theme Name: みんなに電話転送
Theme URI:
Author: 
Author URI: 
Description:
Version: 
License:
*/




/* =========================================================

reset style

=========================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
display: block;
}
body {
line-height: 1;
}
ul {
list-style: none;
padding: 0;
margin: 0;
}
ol {
list-style: decimal;
padding: 0 0 0 20px;
margin: 0;
text-align:left;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
table, caption, tr, th, td,tbody, tfoot, thead {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
word-break: break-all !important;
}

/* =========================================================

style

=========================================================== */


*, *::after, *::before {box-sizing: border-box;}
html {font-size: 62.5%;}
html, body {height: 100%;}

body {font-size: 15px;font-size: 1.5rem;
font-family:Helvetica,Arial,'Noto Sans Japanese','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',Osaka,'ＭＳ Ｐゴシック', 'MS PGothic',sans-serif;color:#444;line-height:1.7em;font-weight:300;
-webkit-text-size-adjust: 100%;
}


div::-webkit-scrollbar { width: 10px; height: auto; }
div::-webkit-scrollbar-track { background: #ccc; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); }
div::-webkit-scrollbar-thumb { background:#ddd; }

a {color: #333;text-decoration: none;transition:all 0.25s;cursor: pointer; }
a:hover {color: #ccc;}

img {max-width:100%;}
input {font-size: 15px;font-size: 1.5rem;}

input[type="search"]::-ms-clear {display: none;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display: none;}

.pc_only {display:block;}
.sp_only {display:none;}

.clear {clear:both;}

hr {border-top: 1px solid #bbb;border-bottom: 1px solid #fff;}


/* =========================================================

contents

=========================================================== */


.inner {width: 1000px;margin: 0 auto;}
.inner:after {content: "";clear: both;display: block;}

#main {text-align:left;background:#FFF;}

/* =========================================================

Header-top

=========================================================== */

#header-top {width:100%;text-align:center;position:absolute;top:0;left:0;z-index:100;padding:20px 0 0;}
#header-top .logo {position:absolute;z-index:95;top:70px;left: 50%; -webkit-transform: translate(-50%, -50%); /* Safari用 */transform: translate(-50%, -50%);}
#header-top .logo img {display:block;margin:0 auto;width:160px;}
#header-top #headinfo {position:absolute;width:100%;z-index:90;}
#header-top #headinfo ul {width:1000px;text-align:center;}
#header-top #headinfo ul li#login {float:left;}
#header-top #headinfo ul li#login a {display:block;padding:2px 40px;border:solid 2px #e50012;background:#FFF;border-radius:20px;color:#e50012;font-weight:500;}
#header-top #headinfo ul li#login a:hover {background:#e50012;color:#FFF;}

#header-top #headinfo ul li#new_account {float:right;width:300px;}
#header-top #headinfo ul li#new_account .customercenter {float:right;display:block;margin:0 0 8px;text-shadow: 1px 2px 1px #333333;}
#header-top #headinfo ul li#new_account .customercenter .customer_time {font-size:12px;color:#FFF;display:block;padding:0 0 0 6px;}
#header-top #headinfo ul li#new_account .customercenter .customer_tel a {display:block;color:#FFF;font-size:36px;font-weight:400;}

#header-top #headinfo ul li#new_account .entry {float:right;display:block;margin:0 8px 0 0;}
#header-top #headinfo ul li#new_account .entry a {width:240px;display:block;padding:2px 0;background:#e50012;border-radius:4px;color:#FFF;font-weight:500;}
#header-top #headinfo ul li#new_account .entry a:hover {background:#FFF;color:#e50012;}

#header-top #headinfo ul li#new_account .contact_mail {float:right;display:block;margin:0 8px 5px 0;}
#header-top #headinfo ul li#new_account .contact_mail a {width:240px;display:block;padding:2px 0;background:#2e323d;border-radius:4px;color:#FFF;font-weight:500;}
#header-top #headinfo ul li#new_account .contact_mail a:hover {background:#FFF;color:#2e323d;}


/* =========================================================

Header

=========================================================== */

#header {width:100%;text-align:center;position:absolute;top:0;left:0;z-index:100;padding:20px 0 0;}
#header .logo {position:absolute;z-index:95;top:70px;left: 50%; -webkit-transform: translate(-50%, -50%); /* Safari用 */transform: translate(-50%, -50%);}
#header .logo img {display:block;margin:0 auto;width:160px;}
#header #headinfo {position:absolute;width:100%;z-index:90;}
#header #headinfo ul {width:1000px;text-align:center;}
#header #headinfo ul li#login {float:left;}
#header #headinfo ul li#login a {display:block;padding:2px 40px;border:solid 2px #e50012;background:#FFF;border-radius:20px;color:#e50012;font-weight:500;}
#header #headinfo ul li#login a:hover {background:#e50012;color:#FFF;}

#header #headinfo ul li#new_account {float:right;width:300px;}
#header #headinfo ul li#new_account .customercenter {float:right;display:block;margin:0 0 8px;text-shadow: 1px 2px 3px #333333;}
#header #headinfo ul li#new_account .customercenter .customer_time {font-size:12px;color:#FFF;display:block;padding:0 0 0 6px;}
#header #headinfo ul li#new_account .customercenter .customer_tel a {display:block;color:#FFF;font-size:36px;font-weight:400;}

#header #headinfo ul li#new_account .entry {float:right;display:block;margin:0 8px 0 0;}
#header #headinfo ul li#new_account .entry a {width:240px;display:block;padding:2px 0;background:#e50012;border-radius:4px;color:#FFF;font-weight:500;}
#header #headinfo ul li#new_account .entry a:hover {background:#FFF;color:#e50012;}

#header #headinfo ul li#new_account .contact_mail {float:right;display:block;margin:0 8px 5px 0;}
#header #headinfo ul li#new_account .contact_mail a {width:240px;display:block;padding:2px 0;background:#2e323d;border-radius:4px;color:#FFF;font-weight:500;}
#header #headinfo ul li#new_account .contact_mail a:hover {background:#FFF;color:#2e323d;}


/* mainvisual

================================== */

#mainVisual {width:100%;height:460px;text-align:right;position:relative;top:0;z-index:80;background:url('images/mainvisual.jpg') no-repeat center top #82848b;}
#mainVisual .slidetxt {position:absolute;z-index:2;width:100%;top:40%;}
#mainVisual .slidetxt p {width:1000px;margin:0 auto;text-align:right;color:#FFF;font-size:36px;line-height:1.5em;text-shadow: 1px 2px 3px #333333; }

#pageVisual {width:100%;height:200px;text-align:right;position:relative;top:0 !important;z-index:80;background-repeat:no-repeat;background-size:cover;background-position:center bottom;background-color:#cccccc;}



/* navigation

================================== */

#global-nav {width:100%;height:60px;background:#2e323d;}
#global-nav ul {overflow:hidden;width:60%;float:left;}
#global-nav ul li {float:left;margin-right:20px;}
#global-nav ul li a {color:#FFF;font-weight:500;height:60px;line-height:60px;}
#global-nav ul li a:hover {color:#CCC;}
#global-nav ul li:last-child {display:none;}

.h_new_account {float:right;width:248px;display:block;font-weight:500;height:60px;line-height:60px;}
.h_new_account a {padding:6px 53px;text-align:center;background:#e50012;border-radius:4px;color:#FFF;}
.h_new_account a:hover {background:#FFF;color:#e50012;}


.is-fixed {position: fixed;top: 0;left: 0;z-index: 2;width: 100%;}



/* =========================================================

ぱんくずリスト

=========================================================== */

.topic_path {overflow:hidden;padding:15px 0 0 !important;}
.topic_path li {color:#444;font-size:12px;float:left;/*background:url(img/icon_arrow02.png) no-repeat right 3px;padding:0 15px 0 0;background-size:8px auto;*/margin-right:10px;}
.topic_path li:first-child img {width:13px;}
.topic_path li:last-child {background:none;}
.topic_path li a {color:#444;}
.topic_path li a:hover {color:#e50012;}


/* =========================================================

Footer

=========================================================== */

#footer {background:#2E323D;padding:60px 0 30px;color:#FFF;letter-spacing:0.06em;clear:both;text-align:center;}
#footer .cont1of3 {width:calc(33.3333% - 10px);margin:5px;text-align:left !important;}
#footer .f_logo {margin:0 0 20px;font-size:26px;}
#footer .f_logo span {font-size:80%;}
#footer .f_logo a {color:#FFF;}
#footer .f_logo a:hover {color:#ccc;}

#footer dl {width:49%;float:left;margin:0;}
#footer dl dt {font-size:15px;font-weight:500;margin:0 0 10px;line-height:1.2em;min-height:40px;}
#footer dl dd {text-align:left !important;font-size:12px;}
#footer dl dd ul li {margin:0 0 10px;line-height:1.1em;}
#footer dl dd ul li a {color:#FFF;cursor: pointer; }
#footer dl dd ul li a:hover {color:#CCC;}

#footer .free_account {width:100%;margin:0 0 10px;text-align:center;}
#footer .free_account a {display:block;font-weight:500;padding:3px 0;background:#e50012;border-radius:4px;color:#FFF;cursor: pointer; }
#footer .free_account a:hover {background:#FFF;color:#e50012;}

#footer .member_login {width:100%;margin:0 0 10px;text-align:center;}
#footer .member_login a {display:block;font-weight:500;padding:3px 0;background:#FFF;border-radius:4px;color:#e50012;}
#footer .member_login a:hover {background:#e50012;color:#FFF;}

#footer .f_contact {width:100%;margin:0 0 10px;text-align:center;}
#footer .f_contact a {display:block;font-weight:500;padding:6px 0 6px 20px;border-radius:4px;color:#FFF;background:url(images/icon_nav5.png) no-repeat 5% 50% #666;background-size:30px auto;}
#footer .f_contact a:hover {background:url(images/icon_nav5.png) no-repeat 5% 50% #999;background-size:30px auto;}

#footer .f_download {width:100%;margin:0 0 10px;text-align:center;}
#footer .f_download a {display:block;font-weight:500;padding:6px 0 6px 20px;border-radius:4px;color:#FFF;background:url(images/icon_nav8.png) no-repeat 4% 50% #666;background-size:36px auto;}
#footer .f_download a:hover {background:url(images/icon_nav8.png) no-repeat 4% 50% #999;background-size:36px auto;}

#footer .customercenter {width:100%;margin:0 0 30px;text-align:center;}
#footer .customercenter .customer_time {font-size:12px;color:#FFF;display:block;padding:0 0 0 6px;}
#footer .customercenter .customer_tel a {display:block;color:#FFF;font-size:36px;font-weight:400;}

#footer .copy {clear:both;text-align:center;font-size:12px;}





/* =========================================================

pagetop

=========================================================== */

#pagetop {position:fixed;bottom: 20px;right:0;font-size:10px;}
#pagetop a {background:#e50012;text-decoration: none;color: #FFF;width:40px;padding:20px 0;text-align: center;display: block;border-bottom-left-radius:4px;border-top-left-radius:4px;border-bottom-right-radius:0;border-top-right-radius:0;font-size:18px;}
#pagetop a:hover {text-decoration: none;background: #999;}


/* =========================================================

table

=========================================================== */

.table {margin:0 0 30px;overflow:hidden;}
.table table {width: 100%;border-collapse: collapse;border-spacing: 0;}
.table table td, .table table th {padding:0.6em 1.2em;border: 1px solid #c9c9c9;vertical-align: top;}
.table table th {background: #f0f0f0;white-space: nowrap;vertical-align: middle;}
.table table p {margin:0 0 8px !important;}
.table table thead th {text-align:center !important;}
.table table .txtcenter {text-align:center !important;}

.table2 {margin: 30px 0 30px 0;overflow:hidden;}
.table2 table {width: auto;border-collapse: collapse;border-spacing: 0;margin:0 auto;}
.table2 table td, .table2 table th {padding:0.6em 1.2em;border: 1px solid #c9c9c9;vertical-align: top;}
.table2 table th {background: #f0f0f0;white-space: nowrap;vertical-align: middle;}
.table2 table p {margin:0 0 8px !important;}
.table2 table thead th {text-align:center !important;}
.table2 table .txtcenter {text-align:center !important;}




/* =========================================================

form

=========================================================== */



input[type='text'],
input[type='number'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='submit'],
input[type='button'],
input[type='password'],
button,
textarea,
select {
-webkit-appearance: none;box-sizing: border-box;font-size: 15px;vertical-align:middle;height: 2em;border:solid 1px #CCC;border-radius:3px; background: #fff;padding:3px;}

input[type='tel'] {width:130px;}
input[type='number'] {width:60px;}


input[type='submit'],
input[type='reset'],
input[type='button'],
button { height:2em;background:#2e323d !important;border: none;border-radius:3px;color:#fff;cursor:pointer;padding:2px 15px;}
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
button:hover {background:#50535c !important;}

textarea {width:98%;height:10em;min-height: 2em;resize: vertical;}
select {background: url(images/select_arrow.png) right 50% no-repeat #FFF;background-size: 12px auto;padding: 2px 20px 2px 5px;}





.center{text-align:center !important;}
.txtleft {text-align:left !important;}
.float_r {float:right !important;}
.float_l {float:left !important;}

.fb {font-weight:700 !important;}
.fsmall {font-size:85%;line-height:1.4em;}
.tyuui, .error-message, .message.error {font-weight:500;color:#F00;}
.need {display:inline-block !important;font-weight:500;color:#F00;margin-left:5px;}



.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}

.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}

ul.list {overflow:hidden;}
ul.list li {background:url(images/icon_circle_darkblue.png) no-repeat 0 6px;background-size:12px auto;padding:0 0 0 20px;margin:3px 0;}

.link a{padding:0 0 0 10px;display:inline-block;text-decoration:underline;}
.link:before {content: '\f019';color: #e50012;font-size:20px;font-family: fontAwesome;text-decoration:none;}

/* =========================================================



=========================================================== */

/* ボックス　width */

.box {border:solid 1px #CCC;padding:30px;margin:0 auto 20px;overflow:hidden;}

.w300 {width:300px !important;margin:0 auto;}
.w400 {width:400px !important;margin:0 auto;}
.w500 {width:500px !important;margin:0 auto;}
.w600 {width:600px !important;margin:0 auto;}


/* ボタン */

.button {padding:6px 12px;font-size:13px;border-radius:4px;color:#FFF;line-height:1.8em;word-wrap: normal !important;}
.button:hover {color:#FFF;}
.button.blue {background:#3399cc;}
.button.blue:hover {background:#44aed8;}
.button.gray {background:#999;}
.button.gray:hover {background:#666;}
.button.darkblue {background:#2e323d;}
.button.darkblue:hover {background:#50535c;}

.add_telnum {margin:0 0 20px;}
.registration {text-align:center;clear:both;}




