<?php
$this->assign('title', '番号発行(詳細)');
$this->Html->script('jquery-2.1.0.min', array('inline' => false));
$this->Html->css('validationEngine.jquery', null, array('inline' => false));
$this->Html->script('jquery.validationEngine', array('inline' => false));
$this->Html->script('jquery.validationEngine-ja', array('inline' => false));
?>

<div id="main">
    
<div class="section inner">
    <h1>番号発行（詳細）</h1>
    <div class="flash"><?php echo $this->Flash->render(); ?></div>
    
    <div id="to_peigent"><a href="https://jp.twilio.com/console/phone-numbers/incoming" target="_blank">Twilio 管理画面へ</a></div>
    
    <div class="row">
        <div class="cont1of2">
            <h2>アカウント情報</h2>
            <div class="box border">
                <div class="table">
                    <table>
                        <tr>
                            <th>登録日時</th>
                            <td><?php echo date('Y-m-d',strtotime($this->data['User']['created'])); ?></td>
                        </tr>
                        <tr>
                            <th>お客様No.</th>
                            <td><?php echo USER_ID_HEDDER .sprintf('%0'.USER_ID_DIGIT.'d',$this->data['User']['id']);?></td>
                        </tr>
                        <tr>
                            <th>店舗名または屋号</th>
                            <td><?php echo $this->data['User']['shop_name'];?></td>
                        </tr>
                        <tr>
                            <th>会社名（契約者名）</th>
                            <td><?php echo $this->data['User']['company_name'];?> <span class="furigana"><?php echo $this->data['User']['company_kana'];?></span></td>
                        </tr>
                        <tr>
                            <th>担当者</th>
                            <td><?php echo $this->data['User']['responsible_name'];?><span class="furigana"><?php echo $this->data['User']['responsible_kana'];?></span></td>
                        </tr>
                        <tr>
                            <th>メールアドレス</th>
                            <td><?php echo $this->data['User']['email'];?></td>
                        </tr>
                        <tr>
                            <th>支払い方法</th>
                            <td><?php if($this->data['User']['hand_payment'] == 0){echo "クレジットカード"; }else{ echo "振込（必ず入金確認後に番号発行）";}; ?></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--/アカウント情報-->

            <h2>サービス内容</h2>
            <div id="serviceDetail" class="box border">
                <div class="table">
                    <table>
                        <tr>
                            <th>ログインID</th>
                            <td><?php echo $this->data['User']['username']; ?></td>
                        </tr>
                        <tr>
                            <th>転送番号</th>
                            <td>
                                <ul>
                                <?php foreach($teltransfers AS $teltransfer){ ?>
                                    <li><?php echo $teltransfer['Teltransfer']['telno'];  ?><span><?php echo $teltransfer['Teltransfer']['memo'];  ?></span></li>
                                <?php } ?>
                                </ul>                                
                            </td>
                        </tr>
                        <tr>
                            <th>転送スケジュール</th>
                            <td>
                            <?php if($voicemail){ ?>
                                <ul>
                                    <li>月<span><?php if($voicemail['Voicemail']['teltransfer_day_01'] == 1){echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_from_01']));  ?> ～ <?php echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_to_01']));}else{echo "－";}  ?></span></li>
                                    <li>火<span><?php if($voicemail['Voicemail']['teltransfer_day_02'] == 1){echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_from_02']));  ?> ～ <?php echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_to_02']));}else{echo "－";}  ?></span></li>
                                    <li>水<span><?php if($voicemail['Voicemail']['teltransfer_day_03'] == 1){echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_from_03']));  ?> ～ <?php echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_to_03']));}else{echo "－";}  ?></span></li>
                                    <li>木<span><?php if($voicemail['Voicemail']['teltransfer_day_04'] == 1){echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_from_04']));  ?> ～ <?php echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_to_04']));}else{echo "－";}  ?></span></li>
                                    <li>金<span><?php if($voicemail['Voicemail']['teltransfer_day_05'] == 1){echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_from_05']));  ?> ～ <?php echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_to_05']));}else{echo "－";}  ?></span></li>
                                    <li>土<span><?php if($voicemail['Voicemail']['teltransfer_day_06'] == 1){echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_from_06']));  ?> ～ <?php echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_to_06']));}else{echo "－";}  ?></span></li>
                                    <li>日<span><?php if($voicemail['Voicemail']['teltransfer_day_00'] == 1){echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_from_00']));  ?> ～ <?php echo date('H : s',strtotime($voicemail['Voicemail']['teltransfer_to_00']));}else{echo "－";}  ?></span></li>
                                </ul>
                            <?php }else{ echo "<span class='notice'>設定されていません</span>";} ?>
                            </td>
                        </tr>
                        <tr>
                            <th>時間外メッセージ</th>
                            <td><?php if($voicemail){ ?>
                            <?php echo $voicemail['Voicemail']['message']; ?></td>
                            <?php }else{ echo "<span class='notice'>設定されていません</span>";} ?>
                        </tr>
                        
                    </table>
                </div>
            </div>
            <!--/サービス内容-->

        </div>
        <div class="cont1of2">
            <?php echo $this->Form->create('User',array('id'=>'varidate_form','inputDefaults' => array('label' => false),'novalidate' => true,'class'=>'primary-form'));  ?>
        
            <h2>発行番号</h2>
            <p class="mb20"><span class="fb">1.新規電話番号を購入・発行（Twilio）</span><br />Twilio画面を開いて、新規電話番号を購入します。</p>
            <p class="mb20"><span class="fb">2.番号の設定（Twilio）</span><br />Twilioで購入した電話番号の「わかりやすい名称」に、登録者の「店舗名または屋号」を入力してください。<br>
            音声およびFax＞通話着信時 ＞Webhook に以下の値を貼り付け<br />
            <?php echo $this->Html->url('/twilio/index/'.$this->data['User']['id'], true); ?><br>
            保存してください。
            <p class="mb20"><span class="fb">3.コネクト（運営センター）</span><br />以下に発行した番号をハイフンありで入力した後、「コネクト」ボタンを押下（コネクトしましたのメッセージが出ます）<br>※+81を0に変更<br />
	        <div class="cont_right"><?php echo $this->Form->submit('コネクト', array('div'=>false,'class' => 'button darkblue','name' => 'button_set_tropo_telno')); ?></div>
            
            <div class="cont_right selectbox">
                <?php echo $this->Form->input('User.tropo_telno'  ,array('id' =>'tropo_telno'  ,'placeholder'=>'050-000-0000','class' => 'validate[required,custom[phone]]')); ?>
            </div>
            </p>
            <p class="mb20 clear"><span class="fb">4.開通テスト（運営センター）</span><br />
	        発行した上記番号に電話をかける。正しく音声ガイダンスが流れたら「開通テスト終了」ボタンを押下（通知しましたのメッセージが出ます）
            </p>     
                <div class="cont_right"><?php echo $this->Form->submit('開通テスト終了', array('div'=>false,'class' => 'button red','name' => 'button_status_to_5')); ?> </div>
                <div class="cont_right selectbox">
                    <?php echo $this->Form->input('User.status_5_admin_id'  ,array('id' =>'status_5_admin_id'  ,'type'=>'select','options' => $admin_list  ,'empty'=>'担 当 者'  ,'default' => $admin['id'],'class' => 'validate[required]')); ?>
                </div>
            <!--/発行番号-->
            </form>
        </div>
    </div>
    
    <div class="backpage"><?php print($this->Html->link('戻 る', array('controller' => 'users', 'action' => 'index/4/1','admin' => true),array('class'=>'button darkblue'))); ?></div>

</div>

</div><!--/End main-->



    
<script>
jQuery(function($){
    
    $("#varidate_form").validationEngine('attach', {
        promptPosition:"bottomLeft"
    });
    
});
</script>
