<?php 
$this->assign('title', '完了');
?>
    <div class="section">
        <div class="inner">
            <div class="company_message">
            <p><?php echo $this->Flash->render(); ?><br/>
            </div>
        </div><!--/inner-->
    </div><!--/company-->
