<?php 
$this->assign('title', '解約');
?>

<div id="main" class="mypage">
	
<div class="section">
	<div class="inner">

		<div class="box w400">
			<p class="mt40 mb20"> 解約 を承りました。</p>
			<p class="mb40"><a href="/">トップへ戻る ≫</a></p>
		</div>


	</div><!--/inner-->
</div><!--/-->


</div><!--/End main-->

