<?php $this->assign('title', 'アカウント作成'); ?>

お申込みありがとうございました。<br>
入力されたメールアドレス宛にお客様専用ページへのログインURLが記されたメールを送付しました。<br>
専用ページにてサービス開始申請ができます。<br>
<br>
メールが届かない場合はメールアドレスの入力間違いの可能性があります。<br>
お調べいたしますので事務局までお問合せ下さい。<br>
