<?php 
$this->assign('title', 'サービス申込み');
$this->Html->addCrumb('サービス申込み');
$this->Html->addCrumb('受付完了');
?>
   <div class="section">
        <div class="inner">
            <div class="company_message">
            <p>みんなにでんわ転送のサービス申込みを受付いたしました。<br>
            3営業日以内に審査が完了いたします。次のご案内を<br>
            <?php echo $email; ?><br>
            に送信いたします。それまで少しお待ちください。</p>
            <br>
            <p><a href="/"><u>トップに戻る</u></a><p>

            </div>
        </div><!--/inner-->
    </div><!--/company-->



